---
import image from "src/assets/images/starlims-logo.webp";
---

<section id="about" class="py-5 bg-light">
  <div class="container py-3">
    <div class="row">
      <div class="col-md-3 d-flex align-items-center justify-content-center px-4 px-md-0">
        <img src={image.src} alt="" class="img-fluid p-3 bg-white rounded-4" />
      </div>
      <div class="col-md-9 px-md-5 pt-4 pt-md-0 px-3 text-center text-md-start">
        <h2 class="mb-3 text-primary">Sobre Starlims</h2>
        <p>
          La solución STARLIMS gestiona los datos de sus productos y su ciclo de vida, simplificando procesos complejos. Es fácil de usar y se adapta a las
          necesidades de su organización. STARLIMS puede integrarse con sistemas actuales e identificar oportunidades de mejora para que pueda lanzar productos
          seguros y de calidad más rápidamente.
        </p>
        <p>
          Como líder en soluciones de informática empresarial, STARLIMS brinda productos y servicios de calidad a más de 1.100 clientes en todo el mundo,
          presentes en más de 2.000 laboratorios de distintos sectores. Con un cuaderno de laboratorio electrónico (ELN) moderno e intuitivo, STARLIMS responde
          a los desafíos críticos de quienes buscan una plataforma avanzada que los acompañe desde I+D hasta la comercialización.
        </p>
      </div>
    </div>
  </div>
</section>
