<section id="certification" class="py-5">
  <div class="container py-3 text-center text-md-start">
    <h2 class="text-primary mb-5">Nuestras Certificaciones STARLIMS</h2>
    <p>
      El sistema de gestión de calidad STARLIMS se ha establecido para cumplir con los requisitos de la norma <strong>ISO 9001:2015</strong> de la prestigiosa organización
      de certificación BSI para el diseño, desarrollo, realización e implementación de productos de gestión de información de laboratorio. Además, existe un sistema
      de gestión de seguridad que cumple con los requisitos de la norma <strong>ISO/IEC 27001:2013</strong>.
    </p>
    <p>Nuestra inversión en calidad significa que nuestros clientes y prospectos pueden estar seguros de que la calidad es nuestro principio rector.</p>
  </div>
</section>
