---
import Button from "@components/global/button.astro";
import image from "src/assets/images/starlims-banner-top.webp";
---

<section id="hero" class="py-5">
  <div class="container py-3 px-">
    <div class="row">
      <div class="col-md-6">
        <h1>STARLIMS</h1>
        <p class="text-primary text-base">
          New Era Technology es el socio exclusivo de STARLIMS en América Latina, ofreciendo potentes soluciones de informática para laboratorios
        </p>
        <p class="mt-4">
          STARLIMS es el aliado ideal para eliminar la complejidad del trabajo diario en el laboratorio con nuestras plataformas de informática, permitiéndole
          enfocarse en lo que realmente importa: brindar un servicio efectivo a sus clientes.
        </p>
        <p>
          STARLIMS ofrece soluciones informáticas reconocidas a nivel global para laboratorios de vanguardia. Diseñadas para simplificar operaciones, mejorar la
          eficiencia y generar resultados excepcionales.
        </p>
        <div class="mt-4">
          <Button title="Saber más" link="#contact" />
        </div>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img src={image.src} alt="" class="img-fluid" />
      </div>
    </div>
  </div>
</section>
