<section id="partner" class="py-5 bg-primary">
  <div class="container py-3">
    <h2 class="text-white mb-5 text-center text-md-start">STARLIMS y New Era Technology: socios exclusivos en LATAM</h2>
    <div class="row">
      <div class="col-md-6 text-white text-center text-md-start">
        <p>
          STARLIMS entiende que los mercados regionales tienen necesidades específicas que requieren un conocimiento local profundo. New Era Technology, con su
          experiencia y recursos especializados en tecnología de la información, fue seleccionada como socia certificada para ofrecer soluciones de clase global
          con soporte local y ágil.
        </p>
        <p>
          Elegir el LIMS adecuado implica evaluar desde el tamaño y complejidad del laboratorio hasta los requisitos de usuarios, personalización, soporte y
          presupuesto. New Era Technology lo acompaña a definir e implementar una solución óptima que integre y optimice sus procesos operativos.
        </p>
      </div>
      <div class="col-md-6 px-5">
        <iframe
          class="w-100 h-100 rounded-5"
          src="https://www.youtube.com/embed/dMPokBA6Xl0"
          title="STARLIMS: One Partner, Powerful Informatics Solutions"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
