---
import image from "src/assets/images/QM Informatics Platform.webp";
---

<section id="quality" class="py-5 overflow-hidden">
  <div class="container py-3 text-center text-md-start">
    <h2 class="text-primary text-center mb-5">Plataforma de Informática para I+D y Manufactura de Calidad</h2>
    <img src={image.src} alt="" class="img-fluid ms-md-5 float-md-end mb-4 mb-md-0" />
    <p>
      STARLIMS ofrece una plataforma conectada que acelera la investigación y el desarrollo, y acompaña al producto durante todo su ciclo de vida. Esta solución
      busca simplificar los flujos de trabajo y aumentar la productividad para avanzar en la innovación científica y llevar productos de calidad al mercado más
      rápido.
    </p>
    <p>
      Con múltiples sistemas, flujos de trabajo complejos y grandes volúmenes de datos, gestionar I+D, control y aseguramiento de calidad puede ser un desafío.
      La Plataforma de Informática para Manufactura de Calidad de STARLIMS ofrece una solución completa con LIMS, ELN, LES y SDMS integrados, permitiéndole
      acelerar el tiempo de salida al mercado con menos recursos.
    </p>
    <p>
      Esta plataforma simplifica procesos complejos, se integra fácilmente con otras herramientas y extiende la recopilación de datos más allá del laboratorio,
      todo en un solo sistema, con un solo socio.
    </p>
  </div>
</section>
