---
import Card from "@components/global/card.astro";

const cardConfig = [
  {
    title: "Plataforma de Informática para I+D / Calidad en Manufactura",
    icon: "r&d_quality.svg",
    classes: "border-0",
  },
  {
    title: "Plataforma de Informática Clínica",
    icon: "clinical-informatics-platform.svg",
    classes: "border-0",
  },
  {
    title: "Plataforma de Informática en Salud Pública",
    icon: "public-health-informatics-platform.svg",
    classes: "border-0",
  },
  {
    title: "Cuaderno de Laboratorio Electrónico (ELN)",
    icon: "eln.svg",
    classes: "border-0",
  },
  {
    title: "Sistema de Gestión de Datos Científicos (SDMS)",
    icon: "sdms.svg",
    classes: "border-0",
  },
];
---

<section id="solutions" class="py-5">
  <div class="container py-3 text-center px-5 px-md-0">
    <h2 class="text-primary mb-3">STARLIMS Solutions Available</h2>
    <div class="row">
      {
        cardConfig.map((config) => (
          <div class="col-md-4 card-group">
            <Card config={config} />
          </div>
        ))
      }
    </div>
  </div>
</section>
