---
import Button from "@components/global/button.astro";
---

<section id="additional-services" class="py-5">
  <div class="container text-center">
    <h2 class="text-primary py-4">Servicios adicionales para proteger su negocio</h2>
    <div class="row">
      <div class="col-3 card-group mb-3">
        <div class="card border-0 shadow-sm bg-light h-100">
          <div class="card-body text-center d-flex flex-column justify-content-between h-100">
            <div class="py-4">
              <img src="/assets/images/physical-security-251x300.png" alt="Physical Security" class="img-fluid" width="40" />
            </div>
            <h3 class="card-title text-primary secondary-title">Seguridad física</h3>
            <div class="mt-4 py-2">
              <Button title="Explore More" link="#" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 card-group mb-3">
        <div class="card border-0 shadow-sm bg-light h-100">
          <div class="card-body text-center d-flex flex-column justify-content-between h-100">
            <div class="py-4">
              <img src="/assets/images/back-up-icon.svg" alt="Physical Security" class="img-fluid" width="60" />
            </div>
            <h3 class="card-title text-primary secondary-title">Copia de seguridad como servicio (BaaS)</h3>
            <div class="mt-4 py-2">
              <Button title="Explore More" link="#" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 card-group mb-3">
        <div class="card border-0 shadow-sm bg-light h-100">
          <div class="card-body text-center d-flex flex-column justify-content-between h-100">
            <div class="py-4">
              <img src="/assets/images/managed-services-homepage-icon.svg" alt="Physical Security" class="img-fluid" width="60" />
            </div>
            <h3 class="card-title text-primary secondary-title">Servicios Gestionados</h3>
            <div class="mt-4 py-2">
              <Button title="Explore More" link="#" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 card-group mb-3">
        <div class="card border-0 shadow-sm bg-light h-100">
          <div class="card-body text-center d-flex flex-column justify-content-between h-100">
            <div class="py-4">
              <img src="/assets/images/disaster-recovery-icon.svg" alt="Physical Security" class="img-fluid" width="60" />
            </div>
            <h3 class="card-title text-primary secondary-title">Recuperación ante desastres como servicio</h3>
            <div class="mt-4 py-2">
              <Button title="Explore More" link="#" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
