---

---

<section id="certifications" class="py-5">
  <div class="container text-center">
    <h2 class="text-primary py-4">Certificaciones de seguridad de New Era</h2>
    <p class="text-lead">
      No solo tome nuestra palabra para ello. A continuación se muestra una pequeña muestra de nuestras certificaciones de seguridad.
    </p>

    <div class="col-6 mx-auto">
      <div class="row">
        <div class="col-2">
          <img src="/assets/images/certified-ethical-hacker-cert.png" alt="Certificado de Hacker Ético" class="img-fluid" />
        </div>
        <div class="col-2">
          <img src="/assets/images/pci-pcip-cert.png" alt="PCI-PCIP" class="img-fluid" />
        </div>
        <div class="col-2">
          <img src="/assets/images/ccna-security-cert.png" alt="Certufucadi de Seguridad CCNA" class="img-fluid" />
        </div>
        <div class="col-2">
          <img src="/assets/images/certified-penetration-tester.png" alt="Certificado de Penetración" class="img-fluid" />
        </div>
        <div class="col-2">
          <img
            src="/assets/images/certified-data-privacy-solutions-engineer-cert.png"
            alt="Certificado de Ingeniero de Soluciones de Privacidad de Datos"
            class="img-fluid"
          />
        </div>
        <div class="col-2">
          <img src="/assets/images/certified-incident-handler-cert.png" alt="Certificado de Manejo de Incidentes" class="img-fluid" />
        </div>
        <div class="col-2">
          <img src="/assets/images/certified-soc-analyst-1.png" alt="Certificado de Analista de SOC" class="img-fluid" />
        </div>
        <div class="col-2">
          <img src="/assets/images/cysa-cert.png" alt="Certificado de Ciberseguridad" class="img-fluid" />
        </div>
        <div class="col-2">
          <img src="/assets/images/Certification-Layout17.png" alt="Certificado de Ciberseguridad" class="img-fluid" />
        </div>
        <div class="col-2">
          <img src="/assets/images/ccna-cert.png" alt="Certificado de CCNA" class="img-fluid" />
        </div>
        <div class="col-2">
          <img
            src="/assets/images/certified-in-risk-and-information-systems-control-cert.png"
            alt="Certificado de Ingeniero de Riesgo y Control de Sistemas de Información"
            class="img-fluid"
          />
        </div>
        <div class="col-2">
          <img
            src="/assets/images/certified-information-systems-security-professional-cert.png"
            alt="Certificado de Ingeniero de Seguridad de Sistemas de Información"
            class="img-fluid"
          />
        </div>
        <div class="col-2">
          <img
            src="/assets/images/hacking-forensic-investigator-cert.png"
            alt="Certificado de Investigador Forense de Hacking"
            class="img-fluid"
          />
        </div>
        <div class="col-2">
          <img src="/assets/images/security-plus-cert.png" alt="Certificado de Seguridad Plus" class="img-fluid" />
        </div>
        <div class="col-2">
          <img src="/assets/images/Certification-Layout16.png" alt="Certificado de Ciberseguridad" class="img-fluid" />
        </div>
        <div class="col-2">
          <img src="/assets/images/cwasp-cert.png" alt="Certificado de Ciberseguridad" class="img-fluid" />
        </div>
        <div class="col-2">
          <img
            src="/assets/images/Certified-information-systems-auditor.png"
            alt="Certificado de auditor de sistemas de información"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</section>
