---
import Button from "@components/global/button.astro";
---

<section id="cover" class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1>Servicios de ciberseguridad</h1>
        <p class="text-lead mb-4">
          Los servicios de seguridad de New Era Technology proporcionan un conjunto integral de soluciones para asegurar su negocio. Nuestros servicios de ciberseguridad abarcan consultoría estratégica para la detección
          y respuesta administrada (MDR), todos diseñados para satisfacer el cumplimiento, la mitigación de riesgos y las necesidades operativas. Con una huella global, ofrecemos servicios escalables y personalizables
          para asegurar su negocio.
        </p>
        <Button title="Talk to an expert" link="#talk-to-an-expert" />
      </div>
      <div class="col-6 d-flex justify-content-center align-items-center">
        <img src="/assets/images/SecureBlu-Logo.svg" alt="Cyber Security" width="280" />
      </div>
    </div>
  </div>
</section>
