---
import Title from "@components/global/title.astro";
---

<section id="security-services" class="py-5 bg-light">
  <div class="container">
    <Title title="Servicios de ciberseguridad" subtitle="Asegurando sus activos digitales" />
    <p class="text-lead text-center">
      Los servicios de SecureBlu aborda las necesidades de organizaciones de todos los tamaños, en todas las industrias, en todo el mundo.
      Trabajamos con todas las principales tecnologías de seguridad, plataformas y regulaciones y somos expertos en marcos principales.
      Explore nuestras categorías de servicios de ciberseguridad a continuación.
    </p>

    <div class="row mt-5">
      <div class="col-4 mb-3 card-group">
        <div class="card border-0 shadow-sm">
          <div class="card-body">
            <a href="#"><h4 class="card-title">Identifica tu postura ></h4></a>
            <p class="card-text lead text-small">
              Comprenda y documente la postura de ciberseguridad de su organización identificando activos críticos, riesgos y
              vulnerabilidades.
            </p>
          </div>
        </div>
      </div>
      <div class="col-4 mb-3 card-group">
        <div class="card border-0 shadow-sm">
          <div class="card-body">
            <a href="#"><h4 class="card-title">Explore nuestros servicios de asesoramiento ></h4></a>
            <p class="card-text lead text-small">
              Los expertos de SecureBLU implementan y asesoran sobre las mejores prácticas para evolucionar y madurar su estrategia de
              ciberseguridad.
            </p>
          </div>
        </div>
      </div>
      <div class="col-4 mb-3 card-group">
        <div class="card border-0 shadow-sm">
          <div class="card-body">
            <a href="#"><h4 class="card-title">Transforma tu tecnología de ciberseguridad ></h4></a>
            <p class="card-text lead text-small">
              Implement changes to enhance cybersecurity capabilities and align with evolving threats and technologies.
            </p>
          </div>
        </div>
      </div>
      <div class="col-6 mb-3 card-group">
        <div class="card border-0 shadow-sm">
          <div class="card-body">
            <a href="#"><h4 class="card-title">Proteja su negocio ></h4></a>
            <p class="card-text lead text-small">
              Deploy safeguards to ensure the confidentiality, integrity, and availability of information and systems.
            </p>
          </div>
        </div>
      </div>
      <div class="col-6 mb-3 card-group">
        <div class="card border-0 shadow-sm">
          <div class="card-body">
            <a href="#"><h4 class="card-title">Detectar y responder a incidentes cibernéticos ></h4></a>
            <p class="card-text lead text-small">Monitoree los eventos de ciberseguridad y ejecute respuestas apropiadas a incidentes.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
