---
import DetailsBox from "@components/global/details-box.astro";
---

<div class="bg-light">
  <DetailsBox
    title="Detección y respuesta de ciberseguridad"
    subtitle="Detectar y responder"
    body="Controle continuamente los eventos de ciberseguridad y responda de manera efectiva a los incidentes a medida que ocurren."
    buttonTitle="Habla con nuestro equipo de seguridad"
    buttonLink="#"
    subjectColumnClass="col-4"
    subjects={[
      { title: "Detección y respuesta administrada (MDR)" },
      { title: "Respuesta a incidentes" },
      { title: "Resistencia cibernética" },
      { title: "SOAR" },
      { title: "Prueba de penetración" },
    ]}
  />
</div>
