---
import DetailsBox from "@components/global/details-box.astro";
---

<div class="bg-light">
  <DetailsBox
    title="Implementaciones de ciberseguridad"
    subtitle="Transformar"
    body="Ejecute mejoras para fortalecer las capacidades de ciberseguridad y adaptarse a las amenazas en evolución y las tecnologías emergentes."
    buttonTitle="Conoce nuestros servicios"
    buttonLink="#"
    subjectColumnClass="col-4"
    subjects={[
      { title: "Seguridad de Genai" },
      { title: "Zero Trust" },
      { title: "Identificar y acceder a la gestión" },
      { title: "Gestión de la superficie de ataque" },
      { title: "Modernización de firewall" },
    ]}
  />
</div>
