<section id="physical-security" class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-6 pe-5 d-flex align-items-center">
        <div>
          <h3 class="text-primary text-medium">Asegurando sus activos físicos</h3>
          <h2 class="text-primary text-extra-large mb-4">Soluciones de seguridad física y seguridad de la vida</h2>
          <p class="lead text-normal mb-4">
            Reconocemos la importancia de mantener seguros a su personal, clientes y propiedades. New Era reúne una variedad diversa de
            soluciones de seguridad de última generación para garantizar la seguridad de su entorno. Tomamos un enfoque holístico al revisar
            las posibles amenazas para determinar las mejores soluciones de seguridad de la vida para su negocio.
          </p>
          <a href="" class="text-primary text-bold">Conozca nuestras soluciones de seguridad física y seguridad humana aquí ></a>
        </div>
      </div>
      <div class="col-6">
        <img src="/assets/images/Physical-Security.jpg" alt="Physical Security" class="img-fluid rounded-3" />
      </div>
    </div>
  </div>
</section>
