---
import DetailsBox from "@components/global/details-box.astro";
---

<div class="bg-light">
  <DetailsBox
    title="Postura de ciberseguridad"
    subtitle="Identificar"
    body="Evaluar y documentar la postura de ciberseguridad de su organización identificando activos críticos, evaluando los riesgos e identificando vulnerabilidades."
    buttonTitle="Talk to our security team"
    buttonLink="#"
    subjectColumnClass="col-6"
    subjects={[
      { title: "Evaluaciones de seguridad y riesgos" },
      { title: "Racionalización de herramientas" },
      { title: "Gestión de amenazas" },
      { title: "Gestión de activos" },
    ]}
  />
</div>
