<section id="testimonials" class="py-5">
  <div class="container text-center">
    <h2 class="text-primary">Testimonios</h2>

    <div class="row mt-4">
      <div class="col-4 card-group">
        <div class="card bg-light py-3">
          <div class="card-body">
            <p class="card-text lead text-small">
              "El servicio MDR de New ERA cumple perfectamente con los requisitos de nuestras necesidades comerciales y de seguridad. Hemos
              encontrado un valor significativo en los tiempos de respuesta rápidos a los eventos y alertas. El análisis ayuda drásticamente
              a reducir el tiempo de investigación para nuestro equipo. Tenemos cero quejas sobre el servicio y lo recomendaremos a
              cualquier persona seria sobre la seguridad".
            </p>
          </div>
        </div>
      </div>
      <div class="col-4 card-group">
        <div class="card bg-light py-3">
          <div class="card-body">
            <p class="card-text lead text-small">
              "El servicio SecureBlu MDR de New ERA proporciona tiempos de respuesta sorprendentemente rápidos, y el equipo está muy atento.
              El servicio proporciona la visibilidad y la respuesta esperadas y más del valor esperado. Los analistas son profesionales, y
              las acciones sugeridas son claras, fáciles de entender y muy detalladas".
            </p>
          </div>
        </div>
      </div>
      <div class="col-4 card-group">
        <div class="card bg-light py-3">
          <div class="card-body">
            <p class="card-text lead text-small">
              “New Era’s SecureBlu MDR service responds quickly to alerts and requests and always does a great job. The service is
              user-friendly, and the suggested actions are very detailed. I’m most impressed with the quick response and customer service we
              receive. We appreciate the relationship with New Era and SecureBlu.”
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
