<section id="why-partner" class="py-5">
  <div class="container">
    <div class="card bg-light p-0 rounded-5 border-0">
      <div class="row">
        <div class="col-6 p-5">
          <h2 class="text-primary">¿Por qué asociarse con el equipo de seguridad de New Era?</h2>
          <p class="text-small lead">
            Una vez que comprende lo que está en juego, es difícil posponer la seguridad por más tiempo. Los servicios de SecureBlu aborda
            las necesidades de organizaciones de todos los tamaños, en todas las industrias, en todo el mundo. Nuestros expertos
            certificados trabajan con todas las principales tecnologías de seguridad, plataformas y regulaciones (PCI DSS, HIPPA, NIS2,
            GLBA, etc.). y son autoridades en marcos principales (NIST, CIS, ISO, etc.). Esto nos permite adaptar una solución de seguridad
            que sea apropiada para su negocio específico.
          </p>
          <ul class="list-unstyled">
            <li class="d-flex gap-2">
              <i class="fa-solid fa-circle-check text-primary mt-1"></i>
              <p class="text-small lead">
                Una gama de servicios diseñados para resolver los desafíos de seguridad más difíciles que enfrentan las organizaciones hoy
              </p>
            </li>
            <li class="d-flex gap-2">
              <i class="fa-solid fa-circle-check text-primary mt-1"></i>
              <p class="text-small lead">
                Servicios altamente escalables creados en torno a productos y plataformas de seguridad líderes en el mercado, respaldados
                por alianzas y asociaciones fuertes con proveedores líderes en el mercado
              </p>
            </li>
            <li class="d-flex gap-2">
              <i class="fa-solid fa-circle-check text-primary mt-1"></i>
              <p class="text-small lead">
                Estructura de precios fáciles de entender y transparente que aprovecha las inversiones tecnológicas existentes de los
                clientes
              </p>
            </li>
          </ul>
        </div>
        <div class="col-6">
          <div class="background-image rounded-right-5"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .background-image {
    display: block;
    background: url("/assets/images/security-war-room-final.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
  }
</style>
