@use 'colors.scss';

.btn-outline-secondary {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: colors.$primary-color;
    margin-left: 1em !important;
    padding: .5em 1.5em .5em 1.5em !important;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out;
}

.btn-outline-secondary:hover {
    background-color: #fff;
    border: 1px solid #ddd;
    color: colors.$primary-color;
    opacity: 70% !important;
}

.btn-secondary {
    border-radius: 5px;
    border: none;
    background-color: colors.$secondary-color;
    color: #fff;
    padding: .5em 1.5em .5em 1.5em !important;
    transition: background-color 0.3s ease-in-out;
}

.btn-secondary:hover {
    background-color: colors.$secondary-color;
    color: colors.$primary-color;
    opacity: 100% !important;
}

.btn-primary {
    border-radius: 5px;
    border: none;
    background-color: colors.$primary-color;
    padding: .5em 1.5em .5em 1.5em !important;
    transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
    border: none;
    background-color: colors.$secondary-color;
}

.btn-icon-primary {
    color: colors.$primary-color;
}

.btn-icon-primary:hover {
    color: colors.$secondary-color;
}

.btn-primary-no-hover:hover {
    background-color: colors.$primary-color !important;
}