@use 'colors.scss';

.btn-outline-secondary {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: colors.$primary-color;
    margin-left: 1em !important;
    padding: .5em 1.5em .5em 1.5em !important;
    text-transform: uppercase;
}

.btn-outline-secondary:hover {
    background-color: #fff;
    border: 1px solid #ddd;
    color: colors.$primary-color;
    opacity: 70% !important;
}

.btn-primary {
    border-radius: 5px;
    border: none;
    background-color: colors.$primary-color;
    padding: .5em 1.5em .5em 1.5em !important;
}

.btn-primary:hover {
    border: none;
    background-color: colors.$secondary-color;
}