@font-face {
    font-family: 'Museo300';
    src: url('assets/fonts/Museo300-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo700';
    src: url('assets/fonts/Museo700-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}