@use "./colors.scss";

.hover-secondary {
    &:hover {
        background-color: colors.$light-blue-color !important;
        border-color: colors.$light-blue-color !important;
    }
}

.hover-light {
    &:hover {
        background-color: colors.$light-color !important;
        border-color: colors.$muted-color !important;
    }
}