.text-small {
    font-size: 13px;
}

.text-normal {
    font-size: 16px;
}

.text-medium {
    font-size: 20px;
}

.text-large {
    font-size: 22px;
}

.text-extra-large {
    font-size: 30px;
}

.text-super-large {
    font-size: 46px;
}

.text-thin {
    font-weight: 100 !important;
}

.text-bold {
    font-weight: 700 !important;
}

.text-decoration-none {
    text-decoration: none !important;
}

.list-decoration-none {
    list-style-type: none !important;
    padding: 0;
}

.text-lead {
    font-weight: 300 !important;
    line-height: 24px;
}

.secondary-title {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.title {
    font-family: 'Museo300', Helvetica, sans-serif;
}

.title-4 {
    font-family: 'Museo300', Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
}

@media (max-width: 768px) {
    .text-super-large {
        font-size: 24px;
    }
}