<section id="manageBlu">
  <article class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-6 text-center pe-5">
          <img src="assets/images/services-diagram.svg" alt="Servicios Profesionales" width="400" />
        </div>
        <div class="col-6">
          <h1 class="text-primary mt-5 text-thin mb-4">Servicios Profesionales</h1>
          <p class="text-lead">
            Cuando elige los servicios profesionales de la nueva ERA, obtiene un equipo de consultores e integradores dedicados para ayudar a implementar nuevas
            tecnologías, aplicaciones comerciales y políticas, utilizando un marco probado para garantizar la satisfacción del cliente. Nuestros servicios están
            diseñados para ayudarlo a maximizar los activos existentes y unir brechas comerciales con los recursos correctos.
          </p>
        </div>
      </div>
    </div>
  </article>
</section>
