---
import Card from "../global/card.astro";

const cardConfig = [
  {
    icon: "unified-solution.png",
    title: "Solucion Unificada",
    body: "SharePoint es una solución unificada que proporciona administración de documentos, desarrollo de portales y automatización del flujo de trabajo, todo agrupados en un solo paquete.",
    classes: "border-secondary-1 hover-secondary",
  },
  {
    icon: "security.png",
    title: "Seguridad",
    body: "SharePoint viene con los últimos estándares y paquetes de seguridad de Microsoft y facilita las mejoras con respecto a las capacidades nativas.",
    classes: "border-secondary-1 hover-secondary",
  },
  {
    icon: "customizable.png",
    title: "Personalizable",
    body: "Conserve las funciones incluidas o siga adelante y cree las personalizaciones necesarias con una facilidad de uso perfecta.",
    classes: "border-secondary-1 hover-secondary",
  },
];
const cardConfig2 = [
  {
    icon: "microsoft-365-inclusion.png",
    title: "Inclusión de Microsoft 365",
    body: "SharePoint se ofrece como parte de Microsoft 365 o como un paquete individual. La suscripción elimina las licencias individuales para aplicaciones dispares para sus actividades comerciales rutinarias.",
    classes: "border-secondary-1 hover-secondary",
  },
  {
    icon: "easy-administration.png",
    title: "Fácil administración",
    body: "SharePoint está diseñado para simplificar el uso y elimina las complejidades del mantenimiento de las aplicaciones. Ofrece Administración centralizada que facilita la gestión de la suite en una única consola.",
    classes: "border-secondary-1 hover-secondary",
  },
];
---

<section id="benefits" class="py-5">
  <div class="container py-3">
    <h2 class="text-center text-primary mb-5">Beneficios de SharePoint</h2>

    <div class="row py-2">
      {
        cardConfig.map((config) => (
          <div class="col-md-4 mb-3 card-group">
            <Card config={config} />
          </div>
        ))
      }
    </div>
    <div class="row py-2">
      {
        cardConfig2.map((config) => (
          <div class="col-md-4 mb-4 card-group">
            <Card config={config} />
          </div>
        ))
      }
    </div>
  </div>
</section>
