---
const base = import.meta.env.BASE_URL;
---

<section id="description" class="section py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center p-5">
        <div class="px-md-5">
          <img src={`${base}assets/images/SharePoint.png`} alt="SharePoint" class="img-fluid" />
        </div>
      </div>

      <div class="col-md-6 px-3 px-md-0 text-center text-md-start py-md-5">
        <p>
          La gestión eficiente de documentos es un aspecto crítico de las actividades rutinarias de una organización. Las empresas modernas necesitan una
          solución unificada que proporcione almacenamiento, acceso, seguridad y colaboración sencillos en un entorno local o basado en la nube. Microsoft
          SharePoint aborda estos aspectos esenciales, simplificando la gestión de documentos para una colaboración y accesibilidad efectivas, en cualquier
          momento y en cualquier lugar.
        </p>
        <p>
          SharePoint no se limita a ser una solución de gestión de documentos, sino que también proporciona un fácil desarrollo de portales y automatización del
          flujo de trabajo al reemplazar las tareas manuales repetitivas con soluciones automatizadas. Se integra fácilmente con otras aplicaciones de
          Microsoft, como la suite Power Platform y otras aplicaciones de terceros, lo que le brinda la extensibilidad que tanto necesita. Se ofrece como una
          aplicación local o como una solución basada en la nube en Microsoft 365.
        </p>
        <p>
          New Era Technology, un socio de soluciones de Microsoft, proporciona una amplia gama de soluciones de desarrollo de SharePoint que se alinean
          perfectamente con sus objetivos empresariales. Nuestra vasta experiencia en la pila de tecnología de Microsoft nos permite desarrollar soluciones
          personalizadas que brindan el impulso adecuado para su negocio a lo largo de su camino hacia la transformación digital.
        </p>
      </div>
    </div>
  </div>
</section>
