<section>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="et_pb_with_border et_pb_module et_pb_text et_pb_text_0 text on-dark et_pb_text_align_left et_pb_bg_layout_light">
        <div class="et_pb_text_inner">
            <h1>SharePoint Solutions</h1>
            <h3>Simplified Document Management and Workflow Automation with SharePoint</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="et_pb_button_module_wrapper et_pb_button_0_wrapper et_pb_module">
        <a class="et_pb_button et_pb_button_0 et_pb_bg_layout_light" href="#contact">Book a consultation</a></div>
    </div>
  </div>
</div>
</section>