---
import BoxWithBackground from "@components/global/Box-with-background.astro";
import Button from "@components/global/button.astro";

const base = import.meta.env.BASE_URL;
---

<BoxWithBackground
  background={`linear-gradient(90deg, #0d2d6a 60%, rgba(41, 196, 169, 0) 80%), url("${base}assets/images/confidential-information-files-stored-cloud-scaled-1.jpg") !important`}
>
  <h3 class="text-secondary mb-3">Trabaja con el equipo de SharePoint de New Era</h3>
  <p class="text-white">
    En New Era Technology, no nos limitamos a desarrollar soluciones personalizadas, sino que construimos relaciones duraderas con nuestros clientes siendo sus
    socios tecnológicos de confianza. Nuestra vasta experiencia en el desarrollo de soluciones de SharePoint en diversas verticales ha Impulsamos resultados
    transformadores para nuestros clientes. El ciclo de vida de desarrollo de New Era comienza con una evaluación integral de las necesidades y sigue una
    estrategia dedicada que culmina con la capacitación y adopción del usuario final. Si necesita una solución personalizada de SharePoint para su negocio,
    póngase en contacto con nosotros y nuestros expertos en SharePoint estarán encantados de ayudarle.
  </p>
  <Button title="Agenda una consulta" link="#contact" class="btn-secondary mt-4 mt-md-3" />
</BoxWithBackground>
