---
import Button from "@components/global/button.astro";
---

<section id="contact" class="bg-light py-3 py-md-5">
  <div class="container p-3">
    <div class="col-md-10 mx-auto bg-white p-5 rounded-1">
      <h3 class="text-center text-primary text-large mb-4 d-none d-md-block">
        Si está buscando Power Automate en México, póngase en contacto con nosotros y nuestros expertos estarán encantados de ayudarle.
      </h3>
      <h3 class="text-center text-primary text-normal mb-4 d-block d-md-none">
        Si está buscando Power Automate en México, póngase en contacto con nosotros y nuestros expertos estarán encantados de ayudarle.
      </h3>

      <form>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="name" class="text-small text-dark"
              >Nombre
              <span class="text-danger">(Requerido)</span></label
            >
            <input type="text" name="name" id="name" class="form-control rounded-0 mb-2" />
          </div>

          <div class="form-group col-md-6">
            <label for="apellido" class="text-small text-dark">Apellido</label>
            <input type="text" name="apellido" id="apellido" class="form-control rounded-0 mb-2" />
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label for="email" class="text-small text-dark">Correo <span class="text-danger">(Requerido)</span></label>
            <input type="email" name="email" id="email" class="form-control rounded-0 mb-2" />
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label for="phone" class="text-small text-dark">Teléfono <span class="text-danger">(Requerido)</span></label>
            <div class="input-group mb-2">
              <input type="tel" name="phone" id="phone" class="form-control rounded-0" maxlength="10" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label for="company" class="text-small text-dark">Empresa <span class="text-danger">(Requerido)</span></label>
            <input type="text" name="company" id="company" class="form-control rounded-0 mb-2" />
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label for="message" class="text-small text-dark">Mensaje <span class="text-danger">(Requerido)</span></label>
            <textarea name="message" id="message" class="form-control rounded-0 mb-2" rows="3"></textarea>
          </div>
        </div>

        <div>
          <button type="submit" class="btn btn-primary rounded-0 px-5 py-2">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</section>
