---
import BoxWithBackground from "@components/global/Box-with-background.astro";
const base = import.meta.env.BASE_URL;
---

<BoxWithBackground
  background=`linear-gradient(87deg, #0d2d6a 43%, rgba(0, 0, 0, 0) 55%), url("${base}assets/images/understand_azure_vm-2.jpg") center center !important`
>
  <h2 class="text-white mb-3">Entendiendo la <span class="text-warning">Solución Azure VMware</span></h2>
  <p class="text-white">
    Azure VMware Solution es un servicio administrado por Microsoft que permite a las empresas ampliar o migrar sus cargas de trabajo locales de VMware a Azure.
    Utiliza tecnologías familiares de VMware, como vSphere, vSAN, NSX-T y HCX, lo que garantiza que las empresas puedan mantener sus herramientas y procesos
    existentes mientras aprovechan la infraestructura y los servicios globales de Azure. Esta integración proporciona una experiencia operativa consistente y
    eficiente en entornos híbridos.
  </p>
</BoxWithBackground>
