---
const base = import.meta.env.BASE_URL;
---

<section id="VMwareSolution" class="py-5 bg-light">
  <div class="container py-3">
    <div class="row">
      <div class="col-md-6">
        <img src={`${base}assets/images/azure_vm_solutions.jpg`} alt="Azure VMware Solutions" class="img-fluid rounded-4" />
      </div>
      <div class="col-md-6 text-center text-md-start pt-5 pt-md-0 d-flex align-items-center px-3 px-md-5">
        <div>
          <h2 class="text-primary mb-3">Azure VMware Solutions</h2>
          <p>
            Azure VMware Solution representa un avance significativo para las organizaciones que buscan aprovechar los beneficios de los entornos locales y de
            nube. Al ofrecer integración perfecta, escalabilidad, seguridad mejorada, rentabilidad y gestión simplificada, AVS permite a las empresas modernizar
            su infraestructura de TI, mejorar la agilidad operativa e impulsar la transformación digital.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
