<section id="benefits" class="py-5 bg-light">
  <div class="container py-3 text-center">
    <h2 class="mb-5 text-primary">Características y beneficios clave</h2>

    <div class="row bg-white">
      <div class="col-3 col-md-4 p-0">
        <div class="list-group bg-white" id="list-tab" role="tablist">
          <a
            class="list-group-item list-group-item-action active"
            id="list-integracion-list"
            data-bs-toggle="list"
            href="#list-integracion"
            role="tab"
            aria-controls="list-integracion">Integración Perfecta</a
          >
          <a
            class="list-group-item list-group-item-action"
            id="list-escalabilidad-list"
            data-bs-toggle="list"
            href="#list-escalabilidad"
            role="tab"
            aria-controls="list-escalabilidad">Escalabilidad y Flexibilidad</a
          >
          <a
            class="list-group-item list-group-item-action"
            id="list-backup-list"
            data-bs-toggle="list"
            href="#list-backup"
            role="tab"
            aria-controls="list-backup">Recuperación y Copia de Seguridad</a
          >
          <a
            class="list-group-item list-group-item-action"
            id="list-rentabilidad-list"
            data-bs-toggle="list"
            href="#list-rentabilidad"
            role="tab"
            aria-controls="list-rentabilidad">Rentabilidad</a
          >
          <a
            class="list-group-item list-group-item-action"
            id="list-seguridad-list"
            data-bs-toggle="list"
            href="#list-seguridad"
            role="tab"
            aria-controls="list-seguridad">Seguridad y Cumplimiento</a
          >
          <a
            class="list-group-item list-group-item-action"
            id="list-gestion-list"
            data-bs-toggle="list"
            href="#list-gestion"
            role="tab"
            aria-controls="list-gestion">Gestión Simplificada</a
          >
        </div>
      </div>
      <div class="col-9 col-md-8">
        <div class="tab-content p-4" id="nav-tabContent">
          <div class="tab-pane fade show active text-center" id="list-integracion" role="tabpanel" aria-labelledby="list-integracion-list">
            <img src="assets/images/seamless-integration.svg" alt="Integración Perfecta" width="100" class="mb-4" />
            <h4 class="mb-3">Integración Perfecta</h4>
            <p>
              AVS permite una integración fluida de los entornos VMware con Azure, minimizando la interrupción de las operaciones existentes. Las empresas
              pueden aprovechar sus inversiones en VMware, incluidas herramientas, procesos y experiencia de terceros, mientras amplían sus capacidades con los
              servicios en la nube de Azure. Esto reduce la curva de aprendizaje y permite a los equipos de TI centrarse en iniciativas estratégicas en lugar de
              gestionar migraciones complejas.
            </p>
          </div>
          <div class="tab-pane fade text-center" id="list-escalabilidad" role="tabpanel" aria-labelledby="list-escalabilidad-list">
            <img src="assets/images/scalability-flexibility.svg" alt="Escalabilidad y Flexibilidad" width="100" class="mb-4" />
            <h4 class="mb-3">Escalabilidad y Flexibilidad</h4>
            <p>
              Una de las ventajas importantes de AVS es su escalabilidad. Los centros de datos globales de Azure permiten a las organizaciones escalar sus
              cargas de trabajo de VMware de forma dinámica, respondiendo a las necesidades empresariales cambiantes sin las limitaciones del hardware físico.
              Esta flexibilidad es particularmente beneficiosa para las empresas que experimentan fluctuaciones estacionales en la demanda o un crecimiento
              rápido, ya que brinda la capacidad de aumentar o reducir los recursos según sea necesario.
            </p>
          </div>
          <div class="tab-pane fade text-center" id="list-backup" role="tabpanel" aria-labelledby="list-backup-list">
            <img
              src="/assets/images/enhanced-disaster-recovery-and-backup.svg"
              alt="Recuperación Mejorada y Copia de Seguridad ante desastres"
              width="100"
              class="mb-4"
            />
            <h4 class="mb-3">Recuperación Mejorada y Copia de Seguridad ante desastres</h4>
            <p>
              La continuidad del negocio es fundamental en el panorama competitivo actual. AVS mejora las estrategias de copia de seguridad y recuperación ante
              desastres al proporcionar sólidas capacidades de replicación. Las organizaciones pueden replicar sus entornos VMware locales en Azure, lo que
              garantiza que las aplicaciones y los datos críticos estén protegidos y puedan restaurarse rápidamente en caso de una interrupción. Esto minimiza
              el tiempo de inactividad y brinda tranquilidad al saber que existe un plan de recuperación confiable.
            </p>
          </div>
          <div class="tab-pane fade text-center" id="list-rentabilidad" role="tabpanel" aria-labelledby="list-rentabilidad-list">
            <img src="assets/images/cost-efficiency.svg" alt="Rentabilidad" width="100" class="mb-4" />
            <h4 class="mb-3">Rentabilidad</h4>
            <p>
              Otro beneficio convincente de AVS es su naturaleza rentable. La adopción de un modelo de pago por uso permite a las empresas alinear sus gastos
              con el uso real, evitando las importantes inversiones de capital asociadas con el mantenimiento del hardware local. Este modelo de gasto operativo
              permite una mejor gestión financiera, permitiendo a las empresas asignar recursos estratégicamente.
            </p>
          </div>
          <div class="tab-pane fade text-center" id="list-seguridad" role="tabpanel" aria-labelledby="list-seguridad-list">
            <img src="assets/images/security-and-compliance.svg" alt="Seguridad y Cumplimiento" width="100" class="mb-4" />
            <h4 class="mb-3">Seguridad y Cumplimiento</h4>
            <p>
              La seguridad y el cumplimiento son las principales prioridades para cualquier organización que maneje datos confidenciales. AVS amplía las
              funciones de seguridad integrales y las certificaciones de cumplimiento de Azure a entornos VMware. Esto incluye protección avanzada contra
              amenazas, cifrado y gestión de identidades, lo que garantiza que los datos y las aplicaciones estén seguros y cumplan con los requisitos
              reglamentarios. El cumplimiento de Azure con estándares industriales como GDPR, HIPAA e ISO mejora aún más la postura de seguridad de los entornos
              VMware.
            </p>
          </div>
          <div class="tab-pane fade text-center" id="list-gestion" role="tabpanel" aria-labelledby="list-gestion-list">
            <img src="assets/images/simplified-management.svg" alt="Gestión Simplificada" width="100" class="mb-4" />
            <h4 class="mb-3">Gestión Simplificada</h4>
            <p>
              AVS simplifica la gestión de entornos híbridos al integrarse con las herramientas de gestión de Azure, como Azure Monitor, Azure Security Center y
              Azure Policy. Estas herramientas brindan monitoreo, administración y seguridad centralizados, lo que permite a los equipos de TI mantener un
              rendimiento y seguridad óptimos en entornos locales y en la nube. Este enfoque de gestión unificada reduce la complejidad y mejora la eficiencia
              operativa.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .list-group {
    border-radius: 0px;
  }

  .list-group-item {
    background-color: #f4f4f4;
    height: 70px;
    display: flex;
    align-items: center;

    &.active {
      color: #333333;
      background-color: #ffffff;
      border: solid 1px #dee2e6;
      border-right: solid 5px #4ac6e9;
    }
  }

  @media screen and (max-width: 768px) {
    .list-group-item {
      display: flex;
      justify-content: center;
    }

    a.list-group-item {
      font-size: 12px !important;
      line-height: 14px;
    }
  }
</style>
