---
import BoxWithBackground from "@components/global/Box-with-background.astro";
import Button from "@components/global/button.astro";
---

<BoxWithBackground
  background="linear-gradient(90deg, #0d2d6a 60%, rgba(41, 196, 169, 0) 80%), url('/assets/images/exploring-big-data-techinspired-background-scaled.jpg') !important"
>
  <div class="row">
    <p class="text-white">
      A medida que crece la demanda de soluciones de nube híbrida, AVS se destaca como una herramienta poderosa para las empresas que navegan por las
      complejidades de los panoramas de TI modernos. Ya sea ampliando centros de datos, migrando a la nube, modernizando aplicaciones o mejorando la
      recuperación ante desastres, AVS proporciona la flexibilidad y confiabilidad que las empresas actuales necesitan para prosperar.
    </p>
    <p class="text-white">Para obtener más información sobre cómo aprovechar las soluciones de Azure VM, contáctenos y estaremos encantados de ayudarle.</p>

    <div class="mt-3">
      <Button title="Contáctanos" link="/contacto" class="btn-secondary" />
    </div>
  </div>
</BoxWithBackground>
