<section id="description" class="py-5">
  <div class="container py-3">
    <div class="row">
      <div class="col-md-6 px-3 px-md-5">
        <div class="px-5">
          <img src="assets/images/Azure_VMware.svg" alt="Soluciones Azure WMware" class="img-fluid" />
        </div>
      </div>
      <div class="col-md-6 pt-5 pt-md-0 text-center text-md-start d-flex align-items-center">
        <div>
          <h2 class="text-primary mb-3">Potenciando las estrategias de nube híbrida</h2>
          <p>
            En una era en la que la transformación digital es crucial para el éxito empresarial, las organizaciones buscan cada vez más soluciones de TI
            flexibles, escalables y rentables. El modelo de nube híbrida, que combina infraestructura local con recursos de nube, se ha convertido en una
            estrategia popular para lograr estos objetivos. Azure VMware Solution (AVS) está a la vanguardia de esta transformación y ofrece un puente perfecto
            entre los entornos tradicionales de VMware y las amplias capacidades de Microsoft Azure.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
