<div class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4 d-flex align-items-center justify-content-center">
        <div class="ps-md-5 text-center text-md-start">
          <div class="py-4">
            <p class="text-primary text-bold text-giant">20,000+</p>
            <p class="text-muted text-bold text-large mt-4">Clientes valiosos</p>
          </div>

          <div class="py-4">
            <p class="text-primary text-bold text-giant">80+</p>
            <p class="text-muted text-bold text-large mt-4">Oficinas en el mundo</p>
          </div>

          <div class="py-4">
            <p class="text-primary text-bold text-giant">4,500+</p>
            <p class="text-muted text-bold text-large mt-4">Empleados</p>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <img src="assets/images/newera-global-map-white.svg" alt="Oficinas de New Era en el Mundo" />
      </div>
    </div>
  </div>
</div>
