<section id="careers" class="section-aboutus"
>
<div class="row row_10">
  <div
    class="column column_1_2 column_19 css_mix_blend_mode_passthrough"
  >
    <div class="module image image_1">
      <span class="image_wrap"
        ><img
          loading="lazy"
          decoding="async"
          width="601"
          height="292"
          src="https://cdn.neweratech.com/us/wp-content/uploads/sites/5/2024/07/team-about-us.jpg"
          alt="Careers"
          title="team-about-us"
          srcset="https://cdn.neweratech.com/us/wp-content/uploads/sites/5/2024/07/team-about-us.jpg 601w, https://cdn.neweratech.com/us/wp-content/uploads/sites/5/2024/07/team-about-us-480x233.jpg 480w"
          sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 601px, 100vw"
          class="wp-image-29398"
        /></span>
    </div>
  </div><div
    class="column column_1_2 column_20 css_mix_blend_mode_passthrough et-last-child"
  >
    <div
      class="module text text_9 text on-light text_align_left bg-light"
    >
      <div class="text_inner">
        <h2>Carreras en New Era Technology</h2><h4
          style="text-align: left;"
        >
        ¿Listo para trabajar en un entorno de alta tecnología orientado al crecimiento?
        </h4><p>
          Si estás buscando un nuevo reto este año
          Echa un vistazo a nuestras oportunidades actuales para unirte a un
          empresa que promueve la vida personal y desarrollo profesional.
        </p>
      </div>
    </div><div
      class="button_module_wrapper button_2_wrapper button_alignment_left module"
    >
      <a
        class="button button_2 blue-button contact-form-show et_hover_enabled bg-dark"
        href="https://www.neweratech.com/us/careers/"
        >Aprende más</a>
    </div>
  </div>
</div>
</section>