<section id="leadership" class="section-aboutus">
  <div class="container">
    <div class="row center">
      <div class="column column_4_4 column_7 css_mix_blend_mode_passthrough et-last-child">
        <div class="module text text_7 text_align_left bg-light">
          <div class="text_inner">
            <h2 style="text-align: center;">New Era Technology Leadership</h2>
          </div>
        </div><div class="button_module_wrapper button_1_wrapper button_alignment_center module">
          <a class="button button_1 rv_button_1 rv_button_closed bg-light" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"> Conoce al equipo </a>
        </div>
      </div>
    </div>
    <div class="collapse" id="collapseExample">
      <div class="row">
        <div class="column column_2_3 column_8 css_mix_blend_mode_passthrough">
          <div class="module text text_8 text_align_left bg-light">
            <div class="text_inner">
              <h3>El equipo de liderazgo de New Era es un grupo dinámico de expertos de la industria comprometidos a fomentar la innovación y la excelencia en toda la organización.</h3>
            </div>
          </div>
        </div><div class="column column_1_3 column_9 css_mix_blend_mode_passthrough et-last-child">
          <div class="module blurb blurb_0 text_align_center blurb_position_top bg-light">
            <div class="blurb_content">
              <div class="main_blurb_image">
                <span class="image_wrap only_image_mode_wrap">
                  <img
                    decoding="async"
                    width="234"
                    height="234"
                    src="https://cdn.neweratech.com/us/wp-content/uploads/sites/5/2024/08/Kevin.png"
                    alt="Kevin Keleghan"
                    srcset="https://cdn.neweratech.com/us/wp-content/uploads/sites/5/2024/08/Kevin.png 234w, https://cdn.neweratech.com/us/wp-content/uploads/sites/5/2024/08/Kevin-150x150.png 150w"
                    sizes="(max-width: 234px) 100vw, 234px"
                    class="animation_top animation_top_tablet animation_top_phone wp-image-29678 et-animated et_had_animation"
                    style=""
                  /></span
                >
              </div>
              <div class="blurb_container">
                <h4 class="module_header">
                  <span>Kevin Keleghan</span>
                </h4><div class="blurb_description">
                  <h6 style="color: #4ac6e9;">Chief Executive Officer</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row row_7 rv_element rv_element_1 equal_columns">
        <div class="column column_1_3 column_10 css_mix_blend_mode_passthrough">
          <div class="module blurb blurb_1 text_align_center blurb_position_top bg-light">
            <div class="blurb_content">
              <div class="main_blurb_image">
                <span class="image_wrap only_image_mode_wrap"
                  ><img
                    loading="lazy"
                    decoding="async"
                    width="234"
                    height="234"
                    src="https://cdn.neweratech.com/us/wp-content/uploads/sites/5/2022/05/Untitled-design-45.png"
                    alt="Punit_Dewan"
                    srcset="https://cdn.neweratech.com/us/wp-content/uploads/sites/5/2022/05/Untitled-design-45.png 234w, https://cdn.neweratech.com/us/wp-content/uploads/sites/5/2022/05/Untitled-design-45-150x150.png 150w"
                    sizes="(max-width: 234px) 100vw, 234px"
                    class="animation_top animation_top_tablet animation_top_phone wp-image-20905 et-animated et_had_animation"
                    style=""
                  /></span
                >
              </div><div class="blurb_container">
                <h4 class="module_header">
                  <span>Punit Dewan</span>
                </h4><div class="blurb_description">
                  <h6 style="color: #4ac6e9;">
                    <span>Chief&nbsp;Corporate Officer</span>
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div><div class="column column_1_3 column_11 css_mix_blend_mode_passthrough">
          <div class="module blurb blurb_2 text_align_center blurb_position_top bg-light">
            <div class="blurb_content">
              <div class="main_blurb_image">
                <span class="image_wrap only_image_mode_wrap"
                  ><img
                    loading="lazy"
                    decoding="async"
                    width="234"
                    height="234"
                    src="https://cdn.neweratech.com/us/wp-content/uploads/sites/5/2022/05/Untitled-design-40.png"
                    alt=""
                    srcset="https://cdn.neweratech.com/us/wp-content/uploads/sites/5/2022/05/Untitled-design-40.png 234w, https://cdn.neweratech.com/us/wp-content/uploads/sites/5/2022/05/Untitled-design-40-150x150.png 150w"
                    sizes="(max-width: 234px) 100vw, 234px"
                    class="animation_top animation_top_tablet animation_top_phone wp-image-20831 et-animated et_had_animation"
                    style=""
                  /></span
                >
              </div><div class="blurb_container">
                <h4 class="module_header">
                  <span>Mike Harmon</span>
                </h4><div class="blurb_description">
                  <h6 style="color: #4ac6e9;">Chief Sales Officer</h6>
                </div>
              </div>
            </div>
          </div>
        </div><div class="column column_1_3 column_12 css_mix_blend_mode_passthrough et-last-child">
          <div class="module blurb blurb_3 text_align_center blurb_position_top bg-light">
            <div class="blurb_content">
              <div class="main_blurb_image">
                <span class="image_wrap only_image_mode_wrap"
                  ><img
                    loading="lazy"
                    decoding="async"
                    width="234"
                    height="234"
                    src="https://cdn.neweratech.com/us/wp-content/uploads/sites/5/2024/10/Patrick.png"
                    alt="Patrick OHara"
                    srcset="https://cdn.neweratech.com/us/wp-content/uploads/sites/5/2024/10/Patrick.png 234w, https://cdn.neweratech.com/us/wp-content/uploads/sites/5/2024/10/Patrick-150x150.png 150w"
                    sizes="(max-width: 234px) 100vw, 234px"
                    class="animation_top animation_top_tablet animation_top_phone wp-image-30513 et-animated et_had_animation"
                    style=""
                  /></span
                >
              </div><div class="blurb_container">
                <h4 class="module_header">
                  <span>Patrick O'Hara</span>
                </h4><div class="blurb_description">
                  <h6 style="color: #4ac6e9;">Chief Performance Officer</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row row_8 rv_element rv_element_1 equal_columns">
        <div class="column column_1_3 column_13 css_mix_blend_mode_passthrough">
          <div class="module blurb blurb_4 text_align_center blurb_position_top bg-light">
            <div class="blurb_content">
              <div class="main_blurb_image">
                <span class="image_wrap only_image_mode_wrap"
                  ><img
                    loading="lazy"
                    decoding="async"
                    width="234"
                    height="234"
                    src="https://cdn.neweratech.com/us/wp-content/uploads/sites/5/2024/12/Kevin-Scott.png"
                    alt="Kevin Scott"
                    srcset="https://cdn.neweratech.com/us/wp-content/uploads/sites/5/2024/12/Kevin-Scott.png 234w, https://cdn.neweratech.com/us/wp-content/uploads/sites/5/2024/12/Kevin-Scott-150x150.png 150w"
                    sizes="(max-width: 234px) 100vw, 234px"
                    class="animation_top animation_top_tablet animation_top_phone wp-image-30967 et-animated et_had_animation"
                    style=""
                  /></span
                >
              </div><div class="blurb_container">
                <h4 class="module_header">
                  <span>Kevin Scott</span>
                </h4><div class="blurb_description">
                  <h6 style="color: #4ac6e9;">Chief Information Officer</h6>
                </div>
              </div>
            </div>
          </div>
        </div><div class="column column_1_3 column_14 css_mix_blend_mode_passthrough">
          <div class="module blurb blurb_5 text_align_center blurb_position_top bg-light">
            <div class="blurb_content">
              <div class="main_blurb_image">
                <span class="image_wrap only_image_mode_wrap"
                  ><img
                    loading="lazy"
                    decoding="async"
                    width="234"
                    height="234"
                    src="https://cdn.neweratech.com/us/wp-content/uploads/sites/5/2024/10/Angela.png"
                    alt="Tim Galloway"
                    srcset="https://cdn.neweratech.com/us/wp-content/uploads/sites/5/2024/10/Angela.png 234w, https://cdn.neweratech.com/us/wp-content/uploads/sites/5/2024/10/Angela-150x150.png 150w"
                    sizes="(max-width: 234px) 100vw, 234px"
                    class="animation_top animation_top_tablet animation_top_phone wp-image-30514 et-animated et_had_animation"
                    style=""
                  /></span
                >
              </div><div class="blurb_container">
                <h4 class="module_header">
                  <span>Angela Johnson</span>
                </h4><div class="blurb_description">
                  <h6 style="color: #4ac6e9;">Chief Human Resources Officer</h6>
                </div>
              </div>
            </div>
          </div>
        </div><div class="column column_1_3 column_15 css_mix_blend_mode_passthrough et-last-child">
          <div class="module blurb blurb_6 text_align_center blurb_position_top bg-light">
            <div class="blurb_content">
              <div class="main_blurb_image">
                <span class="image_wrap only_image_mode_wrap"
                  ><img
                    loading="lazy"
                    decoding="async"
                    width="234"
                    height="234"
                    src="https://cdn.neweratech.com/us/wp-content/uploads/sites/5/2022/05/Untitled-design-39.png"
                    alt=""
                    srcset="https://cdn.neweratech.com/us/wp-content/uploads/sites/5/2022/05/Untitled-design-39.png 234w, https://cdn.neweratech.com/us/wp-content/uploads/sites/5/2022/05/Untitled-design-39-150x150.png 150w"
                    sizes="(max-width: 234px) 100vw, 234px"
                    class="animation_top animation_top_tablet animation_top_phone wp-image-20830 et-animated et_had_animation"
                    style=""
                  /></span
                >
              </div><div class="blurb_container">
                <h4 class="module_header">
                  <span>Jaie Solis</span>
                </h4><div class="blurb_description">
                  <h6 style="color: #4ac6e9;">President, Enterprise Solutions Group</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row row_9 rv_element rv_element_1 equal_columns">
        <div class="column column_1_3 column_16 css_mix_blend_mode_passthrough">
          <div class="module blurb blurb_7 text_align_center blurb_position_top bg-light">
            <div class="blurb_content">
              <div class="main_blurb_image">
                <span class="image_wrap only_image_mode_wrap"
                  ><img
                    loading="lazy"
                    decoding="async"
                    width="234"
                    height="234"
                    src="https://cdn.neweratech.com/us/wp-content/uploads/sites/5/2022/05/Untitled-design-41.png"
                    alt=""
                    srcset="https://cdn.neweratech.com/us/wp-content/uploads/sites/5/2022/05/Untitled-design-41.png 234w, https://cdn.neweratech.com/us/wp-content/uploads/sites/5/2022/05/Untitled-design-41-150x150.png 150w"
                    sizes="(max-width: 234px) 100vw, 234px"
                    class="animation_top animation_top_tablet animation_top_phone wp-image-20832 et-animated et_had_animation"
                    style=""
                  /></span
                >
              </div><div class="blurb_container">
                <h4 class="module_header">
                  <span>Sean Doherty</span>
                </h4><div class="blurb_description">
                  <h6 style="color: #4ac6e9;">President, Technology Solution Group</h6>
                </div>
              </div>
            </div>
          </div>
        </div><div class="column column_1_3 column_17 css_mix_blend_mode_passthrough">
          <div class="module blurb blurb_8 text_align_center blurb_position_top bg-light">
            <div class="blurb_content">
              <div class="main_blurb_image">
                <span class="image_wrap only_image_mode_wrap"
                  ><img
                    loading="lazy"
                    decoding="async"
                    width="234"
                    height="234"
                    src="https://cdn.neweratech.com/us/wp-content/uploads/sites/5/2024/02/Nick-Grogan_MSG-President_2024_EDIT.jpg"
                    alt="Nick Grogan"
                    class="animation_top animation_top_tablet animation_top_phone wp-image-27887 et-animated et_had_animation"
                    style=""
                  /></span
                >
              </div><div class="blurb_container">
                <h4 class="module_header">
                  <span>Nick Grogan</span>
                </h4><div class="blurb_description">
                  <h6 style="color: #4ac6e9;">President, APAC Midmarket Solutions Group</h6>
                </div>
              </div>
            </div>
          </div>
        </div><div class="column column_1_3 column_18 css_mix_blend_mode_passthrough et-last-child">
          <div class="module blurb blurb_9 text_align_center blurb_position_top bg-light">
            <div class="blurb_content">
              <div class="main_blurb_image">
                <span class="image_wrap only_image_mode_wrap"
                  ><img
                    loading="lazy"
                    decoding="async"
                    width="234"
                    height="234"
                    src="https://cdn.neweratech.com/us/wp-content/uploads/sites/5/2024/10/tim-galloway.png"
                    alt="Tim Galloway"
                    srcset="https://cdn.neweratech.com/us/wp-content/uploads/sites/5/2024/10/tim-galloway.png 234w, https://cdn.neweratech.com/us/wp-content/uploads/sites/5/2024/10/tim-galloway-150x150.png 150w"
                    sizes="(max-width: 234px) 100vw, 234px"
                    class="animation_top animation_top_tablet animation_top_phone wp-image-30481 et-animated et_had_animation"
                    style=""
                  /></span
                >
              </div><div class="blurb_container">
                <h4 class="module_header">
                  <span>Tim Galloway</span>
                </h4><div class="blurb_description">
                  <h6 style="color: #4ac6e9;">President, US Midmarket Solutions Group &amp; Shared Services</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
