<section id="locations" class="section-aboutus">
  <div class="container">
    <div class="row row_4">
      <div class="col">
        <div>
          <div class="text_inner">
            <h2>Office Locations</h2>
            <h4>New Era es un proveedor global de soluciones tecnológicas.</h4>
            <p>
              Con oficinas en todo el mundo, en América, EMEA y APAC , New Era está listo para ayudar en cualquier momento, en cualquier lugar no el tamaño o la escala de sus necesidades tecnológicas.
            </p>
          </div>
        </div><div class="button_module_wrapper button_0_wrapper button_alignment_left module">
          <a class="btn-primary" href="https://www.neweratech.com/us/locations/">Aprende más</a>
        </div>
      </div>
      <div class="col">
        <div>
          <span class="image_wrap"
            ><img decoding="async" src="https://cdn.neweratech.com/us/wp-content/uploads/sites/5/2024/06/newera-global-map-white-BG.svg" alt="Global Map" title="newera-global-map-white-BG" class="wp-image-29030" /></span
          >
        </div>
      </div>
    </div>
  </div>
</section>
