<section
id="memberships"
class="section section_8 et_section_regular"
>
<div
  id="memberships-and-certifications"
  class="row row_13"
>
  <div
    class="column column_4_4 column_24 css_mix_blend_mode_passthrough et-last-child"
  >
    <div
      class="module text text_12 on-light text_align_left bg-light"
    >
      <div class="text_inner">
        <h2 style="text-align: center">
          Memberships &amp; Certifications
        </h2><p style="text-align: center">
          New Era has long-maintained its commitment to
          providing industry excellence and expertise to our
          customers. We hold professional memberships in many
          industry-leading organizations, and actively
          participate in continuing education and initiatives
          that strengthen our position as thought leaders in
          the industries we serve.
        </p>
      </div>
    </div><div
      class="module slider slider_0 partners-slider contracts slider_fullwidth_off et_slider_auto et_slider_speed_7000 et_slide_transition_to_next bg-dark"
      data-active-slide="slide_2"
    >
      <div class="slides">
        <div
          class="slide slide_0 bg-dark media_alignment_center"
          data-slide-id="slide_0"
          style="z-index: 1; display: none; opacity: 0;"
        >
          <div
            class="container clearfix"
            style="height: 125px;"
          >
            <div class="slider_container_inner">
              <div class="slide_description">
                <div class="slide_content">
                  <div class="slider-block">
                    <a
                      title="ASHE"
                      href="/us/contracts"
                      target="_blank"
                      rel="noopener noreferrer"
                      ><img
                        decoding="async"
                        class="wp-image-3500 alignnone size-full"
                        src="/assets/images/ASHE.png"
                        alt="ASHE"
                      /></a>
                  </div><div class="slider-block">
                    <a
                      title="APEX"
                      href="/us/contracts"
                      target="_blank"
                      rel="noopener noreferrer"
                      ><img
                        decoding="async"
                        class="wp-image-3499 alignnone size-full"
                        src="/assets/images/APEX-Logo.jpg"
                        alt="APEX"
                      /></a>
                  </div><div class="slider-block">
                    <a
                      title="ETA"
                      href="/us/contracts"
                      target="_blank"
                      rel="noopener noreferrer"
                      ><img
                        decoding="async"
                        class="wp-image-3499 alignnone size-full"
                        src="/assets/images/ETA.png"
                        alt="ETA"
                      /></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><div
          class="slide slide_1 bg-dark media_alignment_center et-pb-moved-slide"
          data-slide-id="slide_1"
          style="z-index: 2; display: none; opacity: 0;"
        >
          <div
            class="container clearfix"
            style="height: 125px;"
          >
            <div class="slider_container_inner">
              <div class="slide_description">
                <div class="slide_content">
                  <div class="slider-block">
                    <a
                      title="HiMSS"
                      href="/us/contracts"
                      target="_blank"
                      rel="noopener noreferrer"
                      ><img
                        decoding="async"
                        class="wp-image-3499 alignnone size-full"
                        src="/assets/images/himss-logo.png"
                        alt="HiMSS"
                      /></a>
                  </div><div class="slider-block">
                    <a
                      title="ISHE"
                      href="/us/contracts"
                      target="_blank"
                      rel="noopener noreferrer"
                      ><img
                        decoding="async"
                        class="wp-image-3499 alignnone size-full"
                        src="/assets/images/ISHE2013Logo.jpg"
                        alt="ISHE"
                      /></a>
                  </div><div class="slider-block">
                    <a
                      title="NSCA"
                      href="/us/contracts"
                      target="_blank"
                      rel="noopener noreferrer"
                      ><img
                        decoding="async"
                        class="wp-image-3294 alignnone size-full"
                        src="/assets/images/NSCA.jpg"
                        alt="NSCA"
                      /></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><div
          class="slide slide_2 bg-dark media_alignment_center et-pb-active-slide"
          data-slide-id="slide_2"
          style="z-index: 1; display: block; opacity: 1;"
        >
          <div
            class="container clearfix"
            style="height: 125px;"
          >
            <div class="slider_container_inner">
              <div class="slide_description">
                <div class="slide_content">
                  <div class="slider-block">
                    <a
                      title="NJAC"
                      href="/us/contracts"
                      target="_blank"
                      rel="noopener noreferrer"
                      ><img
                        decoding="async"
                        class="wp-image-3294 alignnone size-full"
                        src="/assets/images/NJAC.png"
                        alt="NJAC"
                      /></a>
                  </div><div class="slider-block">
                    <a
                      title="CompTIA"
                      href="/us/contracts"
                      target="_blank"
                      rel="noopener noreferrer"
                      ><img
                        decoding="async"
                        class="wp-image-3500 alignnone size-full"
                        src="/assets/images/CompTIA.jpg"
                        alt="CompTIA"
                      /></a>
                  </div><div class="slider-block">
                    <a
                      title="NJSA"
                      href="/us/contracts"
                      target="_blank"
                      rel="noopener noreferrer"
                      ><img
                        decoding="async"
                        class="wp-image-3294 alignnone size-full"
                        src="/assets/images/NJASA.png"
                        alt="NJSA"
                      /></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><div class="et-pb-slider-arrows">
        <a class="et-pb-arrow-prev" href="#"
          ><span>Previous</span></a
        ><a class="et-pb-arrow-next" href="#"
          ><span>Next</span></a>
      </div><div class="et-pb-controllers">
        <a href="#" class="">1</a><a href="#" class="">2</a><a
          href="#"
          class="et-pb-active-control">3</a>
      </div>
    </div>
  </div>
</div>
</section>