<section id="partnerships" class="section-aboutus"
>
<div class="row row_11">
  <div
    class="column column_1_2 column_21 css_mix_blend_mode_passthrough"
  >
    <div
      class="module text text_10 text on-dark text_align_left bg-light"
    >
      <div class="text_inner">
        <h2>Partnerships</h2><h4>
          Become part of New Era’s network.
        </h4><p>
          New Era partners with many of the best manufacturers
          in the industry to provide innovative end-to-end
          solutions to our customers.
        </p>
      </div>
    </div><div
      class="button_module_wrapper button_3_wrapper button_alignment_left module"
    >
      <a
        class="button button_3 blue-button contact-form-show et_hover_enabled bg-dark"
        href="https://www.neweratech.com/us/partners/"
        >Learn More</a>
    </div>
  </div><div
    class="column column_1_2 column_22 css_mix_blend_mode_passthrough et-last-child column_empty"
  >
  </div>
</div>
</section>