<section id="policies" class="section-aboutus">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="module text text_11 text_align_left bg-light">
          <div class="text_inner" style="text-align: center;">
            <h2 class="text-primary">
              <span>Su socio tecnológico de confianza</span>
            </h2>
            <p>
              <span>
                En New Era Technology, estamos comprometidos con mantener los más altos estándares de integridad, transparencia y rendición de cuentas. Nuestras políticas corporativas reflejan nuestra dedicación a la
                ética las prácticas, el cumplimiento y la responsabilidad en todo el mundo. todas las áreas de nuestro negocio.
              </span>
            </p>
          </div>
        </div>
        <div class="button_module_wrapper button_4_wrapper button_alignment_center module">
          <a class="button button_4 blue-button contact-form-show et_hover_enabled bg-dark" href="https://www.neweratech.com/us/corporate-policies/">Explore nuestras políticas</a>
        </div>
      </div>
    </div>
  </div>
</section>
