<section id="title" class="bg-primary">
  <div class="row">
    <div class="column">
      <div class="with_border module text text_1 text on-dark text_align_left">
        <div class="text_inner">
          <h1>Acerca de Nosotros</h1>
        </div>
      </div>
    </div>
  </div>
</section>
