<section id="video" class="section-aboutus">
  <div class="container">
  <div class="row row-video">
    <div class="col-video">
      <div class="with_border module video video_0">
        <div class="video_box">
          <div
            class="fluid-width-video-wrapper"
            style="padding-top: 56.2963%;">
            <iframe
              loading="lazy"
              title="New Era Technology Brand Video | Embrace the Change | Technology Solutions"
              src="https://www.youtube.com/embed/ReVS0EnZGjw?feature=oembed"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen=""
              name="fitvid0"></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="module text text_3 text on-light text_align_left bg-light">
        <div class="text_inner">
          <h2 style="text-align: left;">Nuestra compañía</h2>
          <h4 style="text-align: left;">
            <span
              data-scheme-color="@012D6B,,"
              data-usefontface="true"
              data-contrast="none"
              class="TextRun SCXP149246567 BCX0"
              lang="EN-US"
              ><span class="NormalTextRun SCXP149246567 BCX0"
                >New Era Technology es una comunidad de personas con ideas y corazones afines que comparten la misma visión y valores: Comunidad, Integridad, Ágil y Comprometido.
              </span>
          </span>
          </h4>
        </div>
      </div><div
        class="module text text_4 text_align_left bg-light"
      >
        <div class="text_inner">
          <p>
              Estas visiones y valores se vinculan a nuestro trabajo diario, para
              servir como un asesor tecnológico de confianza para nuestro
              clientela. A menudo, un solo proyecto conduce a un
              una asociación duradera en la que tenemos la oportunidad de
              privilegio de ayudar a nuestros clientes a entregar
              soluciones tecnológicas que mejoran la eficiencia y
              experiencias a sus empleados y clientes".
          </p>
        </div>
      </div><div
        class="module text text_5 text_align_left bg-light"
      >
        <div class="text_inner">
          <p>
            <a
              class="company-lang-brochure pum-trigger"
              style="background-color: rgb(0, 45, 106); padding: 12px; color: rgb(255, 255, 255); text-transform: uppercase; text-align: center; border-radius: 5px; font-size: 14px; font-weight: 500; cursor: pointer;"
              >Visite la descripción general de la empresa</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>