<section id="cloudBlu">
  <article class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-6 text-center pe-5">
          <img src="/assets/images/cloud-diagram-1.svg" alt="Servicios CloudBlu" width="400" />
        </div>
        <div class="col-6">
          <h1 class="text-primary mt-5 text-thin">CloudBlu Services</h1>
          <p class="text-lead">
            Cloudblu, la cartera de servicios en la nube "AS Service" de New Era Technology, brinda servicios de comunicación y colaboración a los usuarios más rápido que nunca con nuestro conjunto completo de servicios
            alojados en la nube entre una plataforma altamente segura y virtualizada bajo un sistema de gestión centralizado. La nueva era facilita la migración de tecnología y aplicaciones a la nube y descarga gran
            parte de las demandas de hardware y energía que conlleva el mantenimiento de una red. Entregamos los beneficios de la tecnología líder en la industria, los acuerdos de nivel de servicio sobresalientes y los
            costos de operación predecibles.
          </p>
        </div>
      </div>
    </div>
  </article>
</section>
