---
import Card from "../global/card.astro";
import Title from "../global/title.astro";

const CardConfig = [
  {
    icon: "contact-centre-icon-1.svg",
    title: "Centro de Contacto",
    body: " El SIP como servicio de New ERA proporciona llamadas de alta calidad en América del Norte y puede aprovisionarse en tiempo real, instalarse y aparecer de forma remota, todo en días y no semanas, mientras es flexible, escalable y respaldado por un soporte de clase mundial.",
    classes: "border-0",
  },
  {
    icon: "cloud-directrouting.svg",
    title: "Enrutamiento directo de equipos",
    body: " La evaluación de vulnerabilidad de la nueva era como soluciones de servicio (VAAAS) automatiza el espectro completo de auditoría, cumplimiento y protección de sus sistemas de TI y aplicaciones web al detectar y proteger contra ataques, en cualquier momento en cualquier lugar.",
    classes: "border-0",
  },
  {
    icon: "unified-communications-icon.svg",
    title: "Comunicaciones unificadas",
    body: " Obtenga la flexibilidad y la agilidad que necesita para hacer crecer su negocio con las comunicaciones unificadas de New ERA como un servicio, que incluye características como HD Voice, Video Conferencing y Centro de contacto multicanal. Con una nueva era, obtiene una solución de compromiso moderna que ofrece movilidad, disponibilidad, experiencias multimedia para cada usuario y arquitectura abierta con instalación de guantes blancos.",
    classes: "border-0",
  },
  {
    icon: "cloud-sip.svg",
    title: "SIP",
    body: " El SIP como servicio de New ERA proporciona llamadas de alta calidad en América del Norte y puede aprovisionarse en tiempo real, instalarse y aparecer de forma remota, todo en días y no semanas, mientras es flexible, escalable y respaldado por un soporte de clase mundial.",
    classes: "border-0",
  },
  {
    icon: "cloud-vulnerabilityassessment.svg",
    title: "Evaluación de vulnerabilidad",
    body: " La evaluación de vulnerabilidad de la nueva era como soluciones de servicio (VAAAS) automatiza el espectro completo de auditoría, cumplimiento y protección de sus sistemas de TI y aplicaciones web al detectar y proteger contra ataques, en cualquier momento en cualquier lugar.",
    classes: "border-0",
  },
  {
    icon: "back-up-icon.svg",
    title: "Respaldo",
    body: "Remove the worry and wasted time spent managing the tapes or hard disks of a traditional infrastructure. New Era’s Backup as a Service (BaaS) solution streamlines the complexities of an often disparate technology backup strategy and reduces the upfront investment in infrastructure. Gain a full backup solution at your fingertips with accessibility, safety, affordability, reliability, and simplicity.",
    classes: "border-0",
  },
  {
    icon: "disaster-recovery-icon.svg",
    title: "Recuperación de desastres",
    body: " Las soluciones de recuperación ante desastres de la nueva ERA ofrecen confiabilidad y protegen contra los efectos de cualquier evento o desastre que amenaza la capacidad de su infraestructura para alimentar sus iniciativas tecnológicas. Un plan sólido de recuperación de desastres asegura que incluso en el caso de un cierre del centro de datos, puede continuar con sus objetivos organizativos con poco tiempo de inactividad. Con una nueva era, recibe DR totalmente administrado, lo que le permite ejecutarse en la nube hasta que restaure las operaciones del centro de datos.",
    classes: "border-0",
  },
  {
    icon: "cloud-digital-signage-icon.svg",
    title: "Señalización digital",
    body: " Con la señalización digital de New ERA como servicio, puede optimizar la presentación de una colección diversa de formatos de video, imágenes fijas y feeds RSS, todo con su propio contenido. Nuestro servicio remoto de monitoreo y gestión proporciona recursos en tiempo real para su sistema de señalización digital.",
    classes: "border-0",
  },
  {
    icon: "cloud-wireless-icon.svg",
    title: "Inalámbrico",
    body: " La nueva ERA's Wireless as a Service (WAAS) es una administración, configuración, soporte y actualización simplificada a su red Wi-Fi entregada como un servicio mensual fácil de administrar. New ERA combina Wi-Fi 6 con un sistema de incorporación seguro, lo que permite a su departamento de TI de rápido y sin duda asegurar la red, los usuarios y los dispositivos inalámbricos.",
    classes: "border-0",
  },
  {
    icon: "software-icon.svg",
    title: "Software",
    body: " La oferta de software de New ERA como servicio (SaaS) está apilada con una gama completa de opciones de suscripción de software líderes desde gestión de movilidad hasta software de productividad. SaaS le da a su organización herramientas de administración flexibles y potentes para asegurarse de que los usuarios siempre estén en una versión de aplicación actual. Trabajamos con usted para definir un plan de migración e implementación que se adapte a su empresa.",
    classes: "border-0",
  },
  {
    icon: "infrastructure-icon.svg",
    title: "Infrastructure",
    body: " La solución de Infraestructura de Infraestructura de Nueva Era (IaaS) proporciona la columna vertebral para sus iniciativas tecnológicas con una conexión de rayo a través de la red, el acceso a todos sus datos y la optimización entre la nube y la infraestructura física. Esto le brinda el poder de alojar cualquiera o todas las soluciones de servidor y almacenamiento de forma segura en la nube, maximizando la confiabilidad, disponibilidad y escalabilidad de su infraestructura.",
    classes: "border-0",
  },
  {
    icon: "video-surveillance-as-a-service-icon.svg",
    title: "Videovigilancia",
    body: " La videovigilancia de New ERA como servicio (VSAAS) es un servicio único que registra videos en la nube, eliminando la necesidad de cualquier servidor local. Sin servidores ni software para instalar, las organizaciones pueden implementar su sistema de videovigilancia en poco tiempo y sin requerir ninguna participación de TI para el mantenimiento o actualizaciones continuas.",
    classes: "border-0",
  },
];
---

<section id="explore" class="bg-light">
  <article class="container">
    <Title title="Explore" subtitle="Lograr resultados comerciales con la nueva era Cloudblu." />

    <div class="row">
      {
        CardConfig.map((config) => (
          <div class="col-4 mb-3 card-group">
            <Card config={config} />
          </div>
        ))
      }
    </div>
  </article>
</section>
