<section class="partners">
  <div class="background-image"></div>
  <div class="gradient-overlay d-flex align-items-center">
    <div class="container d-flex justify-content-end py-4">
      <div class="w-50">
        <h2 class="text-white title-3 text-extra-large pb-2">Asociarse con la tecnología de nueva era</h2>
        <p class="text-white text-lead pb-3">Entregamos soluciones que se basan en la colaboración e innovación para proporcionar soluciones creativas utilizando las mejores tecnologías para nuestros clientes.</p>
        <ul class="text-white text-lead list-decoration-none w-75 p-0 m-0">
          <li class="d-flex d-row justify-content-start mb-4">
            <i class="fa fa-check-circle me-3 mt-1"></i> Más de 120 ingenieros y técnicos certificados por fabricantes de tecnología líderes y organizaciones de la industria profesional, incluidas Cisco, Extreme Networks,
            Avixa, Hewlett-Packard Aruba, Avaya y muchos otros
          </li>
          <li class="d-flex d-row justify-content-start mb-4"><i class="fa fa-check-circle me-3 mt-1"></i> Más de 25 años de experiencia en la planificación, diseño e implementación de soluciones complejas.</li>
          <li class="d-flex d-row justify-content-start mb-4">
            <i class="fa fa-check-circle me-3 mt-1"></i> Opciones públicas, privadas e híbridas para satisfacer las necesidades de presupuesto y seguridad de su organización
          </li>
          <li class="d-flex d-row justify-content-start mb-4"><i class="fa fa-check-circle me-3 mt-1"></i> Acceso a nuestro equipo de soporte altamente experimentado y nuestro centro de operaciones de red 24/7</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<style>
  .partners {
    position: relative;
    width: 100%;
    height: 600px;
  }

  .background-image {
    width: 100%;
    height: 100%;
    background: url("/assets/images/PartnerwithNewEra_SolutionServicePages.jpg") center left no-repeat;
    background-size: contain;
  }

  .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(74, 199, 233, 1) 55%, rgba(0, 44, 106, 0) 75%);
  }
</style>
