---
import Card from "../global/card.astro";

const cardConfig = [
  {
    image: "Wireless-Onboarding.jpg",
    title: "Optimización de la experiencia de incorporación inalámbrica para Quincy College",
    body: "Estudio de caso: Quincy College estaba tratando de optimizar su experiencia de incorporación inalámbrica para estudiantes entrantes y proporcionar una red más segura para ...",
    classes: "border-0",
  },
  {
    image: "CloudBlu-2.jpg",
    title: "CloudBlu",
    body: "Entregue servicios de comunicación y colaboración a los usuarios más rápido que nunca con nuestro conjunto completo de servicios alojados en la nube entregados desde una plataforma altamente segura y virtualizada bajo un sistema de gestión centralizado.",
    classes: "border-0",
  },
  {
    image: "Vulnerability-Assessment-Solutions.jpg",
    title: "Soluciones de evaluación de vulnerabilidad",
    body: "Automatice el espectro completo de auditoría, cumplimiento y protección de sus sistemas de TI y aplicaciones web detectando y protegiendo contra ataques, en cualquier momento y en cualquier lugar.",
    classes: "border-0",
  },
];
---

<section id="resources" class="bg-primary py-5">
  <div class="container text-center py-4">
    <h2 class="text-secondary title text-extra-large">Recursos</h2>
    <div class="row pt-4">
      {
        cardConfig.map((config) => (
          <div class="col-4 mb-3 card-group">
            <Card config={config} />
          </div>
        ))
      }
    </div>
  </div>
</section>
