---
import Card from "../global/card.astro";

const cardConfig = [
  {
    icon: "collaboration-communications-solutions-homepage-icon-1.svg",
    title: "Colaboración y UC",
    body: "",
    classes: "border-0",
  },
  {
    icon: "data-networking-homepage-icon-1.svg",
    title: "Red de Datos",
    body: "",
    classes: "border-0",
  },
  {
    icon: "security-life-safety-homepage-icon-1.svg",
    title: "Seguridad y Vida Segura",
    body: "",
    classes: "border-0",
  },
  {
    icon: "managed-services-homepage-icon (1).svg",
    title: "Servicios Administrados",
    body: "",
    classes: "border-0",
  },
];
---

<section id="extraSolutions" class="bg-light py-5">
  <div class="container text-center py-3">
    <h3 class="text-primarym mb-4">Soluciones Complementarios</h3>
    <div class="row py-4">
      {
        cardConfig.map((config) => (
          <div class="col-3 mb-3 card-group">
            <Card config={config} />
          </div>
        ))
      }
    </div>
  </div>
</section>
