---
import {Icon} from "astro-icon/components";
---
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="text-primary text-center">Administración de escritorios</h2>
        <p class="text-center">
            Nuestra oferta de administración de escritorios incluye la implementación de un Service Desk centralizado para soporte 24x7 impulsado por el cumplimiento de SLA predefinidos. Implementamos
            Análisis de llamadas/solicitudes y solución de problemas inicial para una resolución más rápida de las actividades informáticas del usuario final, como se describe a continuación.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul class="list-with-check check-blue list-decoration-none">
          <li class="py-2"><Icon name="check" size={15} class="text-primary me-3" />Solución de problemas básicos de hardware y sistema operativo</li>
          <li class="py-2"><Icon name="check" size={15} class="text-primary me-3" />Solución de problemas básicos de red / Internet</li>
          <li class="py-2"><Icon name="check" size={15} class="text-primary me-3" />Actualizaciones de antivirus / Solución de problemas</li>
          <li class="py-2"><Icon name="check" size={15} class="text-primary me-3" />Actualizaciones de los grupos de seguridad de AD</li>
          <li class="py-2"><Icon name="check" size={15} class="text-primary me-3" />Soporte de adquisición de hardware</li>
          <li class="py-2"><Icon name="check" size={15} class="text-primary me-3" />Compatibilidad con la actualización del sistema operativo</li>
          <li class="py-2"><Icon name="check" size={15} class="text-primary me-3" />Gestión de Activos</li>
        </ul>
      </div>
      <div class="col bg-light">
        <h3 class="text-primary">Nuestras soluciones de gestión de escritorios le permiten:</h3>
        <ol>
            <li>Mejorar la productividad de tus empleados</li>
            <li>Asegúrarse que su infraestructura satisfaga sus necesidades cambiantes</li>
            <li>Aprovechar las últimas tecnologías y los nuevos modelos de prestación de servicios</li>
            <li>Cumplir con los requisitos dinámicos de sus empleados para un lugar de trabajo productivo</li>
        </ol>
      </div>
    </div>
  </div>
</section>
