---
const base = import.meta.env.BASE_URL;
---

<section id="manageBlu">
  <article class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-6 text-center pe-5">
          <img src={`${base}assets/images/managed-services-diagram.svg`} alt="Servicios CloudBlu" width="400" />
        </div>
        <div class="col-6">
          <h1 class="text-primary mt-5 text-thin mb-4">ManageBlu Services</h1>
          <p class="text-lead">
            Increase the overall efficiency of your IT department and maintain stable and reliable systems with New Era’s ManageBlu. You’ll gain access to
            experienced support technicians and engineers when you need them, for a fraction of what it would cost to expand your team.
          </p>
        </div>
      </div>
    </div>
  </article>
</section>
