<section id="process" class="py-5">
  <div class="container py-3 text-center">
    <h2 class="mb-2 text-primary">El proceso de ManageBlu</h2>
    <img src="/assets/images/IT-Managed-Service-Offerings-3.png" alt="ManageBlu" class="img-fluid" />
  </div>
</section>
