<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="text-center text-primary">Gestión de Mesa de servicio</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3 class="text-primary">Nuestra oferta de Mesa de Servicio Integral incluye:</h3>
        <ul class="list-with-check check-blue">
          <li><i class="fa fa-check-circle"></i>Sistema operativo de escritorio, aplicación de Office, VPN de cliente y soporte de red.</li>
          <li><i class="fa fa-check-circle"></i>Detección y corrección de virus, malware y spyware.</li>
          <li><i class="fa fa-check-circle"></i>Estrategia integral de identificación y mitigación de riesgos.</li>
          <li><i class="fa fa-check-circle"></i>Parche de escritorio y actualización de seguridad, Active Directory y mantenimiento de cuentas de MS Exchange.</li>
          <li><i class="fa fa-check-circle"></i>Administrar los perfiles de usuario para los servicios de escritorio remoto.</li>
          <li><i class="fa fa-check-circle"></i>Servicios de TI gestionados para conexiones de escritorio remoto.</li>
        </ul>
      </div>
      <div class="col bg-light">
        <h3 class="text-primary text-strong">Característica Sobresaliente de nuestra Gestión de Mesa de Servicio:</h3>
        <ul class="list-with-check check-blue">
            <li><i class="fa fa-check-circle"></i>Un modelo de servicio compartido</li>
            <li><i class="fa fa-check-circle"></i>Automatización y optimización</li>
            <li><i class="fa fa-check-circle"></i>Procesos basados en ITIL</li>
            <li><i class="fa fa-check-circle"></i>Implementación personalizada de herramientas</li>
        </ul>
      </div>
    </div>
  </div>
</section>
