---
import Card from "../global/card.astro";

const cardConfig = [
  {
    icon: "service-desk-management.png",
    title: "Gestión de Mesa de Servicio",
    classes: "border-secondary-1",
  },
  {
    icon: "desktop-management.png",
    title: "Administración de escritorios",
    classes: "border-secondary-1",
  }
];
---
<section class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="text-center text-primary">Nuestros servicios gestionados y soluciones para el usuario final satisfacen los siguientes requisitos.</h2>
      </div>
    </div>
    <div class="row py-2 px-3">
        {
          cardConfig.map((config) => (
            <div class="col-md-6 mb-4 card-group">
              <Card config={config} />
            </div>
          ))
        }
    </div>
  </div>
</section>
