---
import { Icon } from "astro-icon/components";
---

<section class="py-5">
  <div class="container py-3">
    <h2 class="text-center text-primary mb-5">Gestión de Mesa de servicio</h2>

    <div class="row">
      <div class="col-md-6 p-5">
        <h3 class="text-primary text-medium mb-3">Nuestra oferta de Mesa de Servicio Integral incluye:</h3>
        <ul class="list-with-check list-decoration-none">
          <li class="py-2 d-flex">
            <div>
              <Icon name="check" size={18} class="text-primary" />
            </div>
            <div class="ps-2">Sistema operativo de escritorio, aplicación de Office, VPN de cliente y soporte de red.</div>
          </li>
          <li class="py-2 d-flex">
            <div>
              <Icon name="check" size={18} class="text-primary" />
            </div>
            <div class="ps-2">Detección y corrección de virus, malware y spyware.</div>
          </li>
          <li class="py-2 d-flex">
            <div>
              <Icon name="check" size={18} class="text-primary" />
            </div>
            <div class="ps-2">Estrategia integral de identificación y mitigación de riesgos.</div>
          </li>
          <li class="py-2 d-flex">
            <div>
              <Icon name="check" size={18} class="text-primary" />
            </div>
            <div class="ps-2">Parche de escritorio y actualización de seguridad, Active Directory y mantenimiento de cuentas de MS Exchange.</div>
          </li>

          <li class="py-2 d-flex">
            <div>
              <Icon name="check" size={18} class="text-primary" />
            </div>
            <div class="ps-2">Administrar los perfiles de usuario para los servicios de escritorio remoto.</div>
          </li>
          <li class="py-2 d-flex">
            <div>
              <Icon name="check" size={18} class="text-primary" />
            </div>
            <div class="ps-2">Servicios de TI gestionados para conexiones de escritorio remoto.</div>
          </li>
        </ul>
      </div>
      <div class="col-md-6 bg-light p-5">
        <h3 class="text-primary text-strong text-medium mb-3">Característica Sobresaliente de nuestra Gestión de Mesa de Servicio:</h3>
        <ul class="list-with-check list-decoration-none">
          <li class="py-2 d-flex">
            <Icon name="check" size={18} class="text-primary" />
            <div class="ps-2">Un modelo de servicio compartido</div>
          </li>
          <li class="py-2 d-flex">
            <Icon name="check" size={18} class="text-primary" />
            <div class="ps-2">Automatización y optimización</div>
          </li>
          <li class="py-2 d-flex">
            <Icon name="check" size={18} class="text-primary" />
            <div class="ps-2">Procesos basados en ITIL</div>
          </li>
          <li class="py-2 d-flex">
            <Icon name="check" size={18} class="text-primary" />
            <div class="ps-2">Implementación personalizada de herramientas</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
