<section class="cover py-5">
  <div class="container py-3">
    <div class="row">
      <div class="col-lg-6"></div>
      <div class="col-lg-6">
            <h2 class="text-secondary">¿Por qué elegir a New Era Technology?</h2>
            <p class="text-white">
                New Era Technology, un socio de soluciones de Microsoft y SAP, tiene una vasta experiencia en el suministro de soluciones de software personalizadas y ofertas de servicios administrados
                en México. 
                Nuestro profundo conocimiento del dominio y años de experiencia en todo
                Las diversas verticales de la industria y los requisitos comerciales nos convierten en un socio tecnológico perfecto para sus requisitos de servicio administrado.
              <a href="/contacto">Contáctanos</a>  para obtener más información, y estaremos encantados de ayudarle.
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  .cover {
    background-blend-mode: multiply;
    background-image: url(https://cdn.neweratech.com/ae/wp-content/uploads/sites/10/2023/12/why-choose-new-era.jpg),
      linear-gradient(90deg, rgba(43, 135, 218, 0.05) 0%, #00256b 57%) !important;
  }
</style>
