@use "./global/colors.scss";
@use "./global/fonts.scss";

@use "./global/background.scss";
@use "./global/dropdown.scss";
@use "./global/button.scss";
@use "./global/typography.scss";
@use "./global/navbar.scss";
@use "./global/icon.scss";
@use "./global/card.scss";
@use "./global/border.scss";
@use "./global/hover.scss";
@use "./global/accordion.scss";

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto", "Helvetica Neue", Helvetica, "Segoe UI Light", Arial, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

a {
  text-decoration: none;
}

a:hover {
  transition: opacity 0.3s ease-in-out;
  opacity: 80% !important;
}

h1 {
  color: #002d6a;
  font-family: 'Museo300', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  line-height: 1.5em;
}

h2 {
  font-family: 'Museo300', Helvetica, sans-serif;
  font-size: 30px;
}

h3 {
  font-family: 'Museo300', Helvetica, sans-serif;
  font-size: 30px;
}

h4 {
  font-family: 'Museo300', Helvetica, sans-serif;
  font-size: 18px;
}

p {
  font-family: "Roboto", "Helvetica Neue", Helvetica, 'Segoe UI Light', Arial, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
}