<section id="microsoft-services" class="container py-5">
  <div class="row">
    <div class="col-md-6">
      <div class="px-md-5">
        <img src="/assets/images/Microsoft-Services.png" alt="Servicios Microsoft" class="img-fluid" />
      </div>
    </div>
    <div class="col-md-6 d-flex align-items-center text-center text-md-start pt-md-5 pt-4">
      <div>
        <p>
          New Era Technology, Socio de Soluciones Microsoft (Microsoft Solutions Partner), ofrece una amplia gama de soluciones y servicios personalizados en el
          ecosistema tecnológico de Microsoft. Nuestras soluciones robustas, fiables y seguras impulsan la innovación y la agilidad en su negocio y le permiten
          aprovechar todo el potencial del ecosistema de productos de Microsoft. Nuestra vasta experiencia y diversa pericia en tecnologías de Microsoft nos
          ayudan a desarrollar soluciones que simplifican requisitos complejos. Atendemos a diversos sectores industriales con soluciones que mejoran su
          adquisición de clientes y aceleran su camino hacia la transformación digital.
        </p>
        <p>
          Ya sea que su organización necesite servicios de desarrollo de SharePoint o .NET, nuestras soluciones le permiten obtener el valor óptimo de su
          inversión en TI. Nuestras alianzas con proveedores de software le ayudan a ahorrar costos iniciales al proporcionar alternativas confiables a
          personalizaciones costosas, optimización de procesos y migraciones fluidas.
        </p>
        <p>
          Enfocados en ayudar a nuestros clientes a alcanzar la madurez digital óptima en los tiempos actuales, ofrecemos una amplia gama de soluciones
          tecnológicas de Microsoft diseñadas para impulsar resultados transformadores.
        </p>
      </div>
    </div>
  </div>
</section>
