---
import Card from "@components/global/card.astro";
import { cardConfig } from "./plaforms";
---

<section id="platforms" class="py-5 bg-light-blue">
  <div class="container py-3 text-center">
    <h2 class="text-primary mb-5">Nuestras Plataformas de Tecnología Microsoft</h2>

    <div class="row">
      {
        cardConfig.map((config) => (
          <div class="col-md-4 card-group mb-3">
            <Card config={config} />
          </div>
        ))
      }
    </div>
  </div>
</section>
