---
import Button from "../global/button.astro";
---

<section id="footer" class="footer bg-light">
  <div class="container border-bottom py-3 py-md-5">
    <div class="row">
      <div class="col-md-4 text-center text-md-start">
        <img src="/assets/images/neweratechnology_logo.svg" width="220" class="d-md-none" />
        <h4 class="text-primary title-4 mb-4 mt-5 mt-md-0">Sobre Nosotros</h4>
        <p class="mb-5 text-dark text-lead">
          New Era Technology helps more than 20,000 customers worldwide adapt to a rapidly changing digital world.
        </p>
        <img src="/assets/images/neweratechnology_logo.svg" width="200" class="d-none d-md-block" />
      </div>
      <div class="col-md-4 text-center text-md-start">
        <h4 class="text-primary title-4 mb-4">Enlaces Rápidos</h4>
        <ul class="text-primary list-decoration-none">
          <li class="mb-2">Sobre nosotros</li>
          <li class="mb-2">Carreras</li>
          <li class="mb-2">Ubicación</li>
          <li class="mb-2">Contáctanos</li>
          <li class="mb-2">Nuestras políticas</li>
          <li class="mb-2">Explora la Era Digital</li>
        </ul>
      </div>
      <div class="col-md-4 text-center text-md-start">
        <h4 class="text-primary title-4 mb-4 mt-5 mt-md-0">En Contacto</h4>
        <p class="mb-3 text-dark text-lead">
          Obtenga noticias de la industria, ideas comerciales y la información que necesita entregada directamente a su bandeja de entrada.
        </p>
        <Button title="Subscríbete" link="#" />
      </div>
      <div class="col-md-4 text-center text-md-start">
        <h4 class="text-primary title-4 mb-4 mt-5 mt-md-0">Contáctanos</h4>
        <p class="text-primary">877-696-7720</p>
        <Button title="Busca la ubicacion" link="#" />

        <ul class="list-decoration-none d-flex d-row gap-2 mt-3 justify-content-center justify-content-md-start">
          <li>
            <a href="https://www.facebook.com/NewEraTechUS/" class="btn-icon-primary" title="Follow on Facebook" target="_blank">
              <i class="fa-brands fa-square-facebook icon-size-md"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/NewEraTech_US" class="btn-icon-primary" target="_blank">
              <i class="fa-brands fa-square-x-twitter icon-size-md"></i></a
            >
          </li>
          <li>
            <a href="https://www.linkedin.com/company/new-era-technology-us" class="btn-icon-primary" target="_blank">
              <i class="fa-brands fa-linkedin icon-size-md"></i></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container bg-light py-3 text-small">
    <div class="text-muted text-lead">© 2025 New Era Technology | <a>Privacy</a> | <a>Cookie Policy</a> | License Number: MA 7190-C</div>
  </div>
</section>

<style></style>
