---
import TopNavbar from "./TopNavbar.astro";
import MobileNavbar from "./MobileNavbar.astro";
import Navbar from "./Navbar.astro";
---

<section id="header">
  <div class="top-navbar-wrapper">
    <TopNavbar />
  </div>
  <div class="d-block d-md-none">
    <MobileNavbar />
  </div>
  <div class="d-none d-md-block">
    <Navbar />
  </div>
</section>

<style>
  .divisor {
    border-right: 1px solid #ddd;
    padding-right: 1.5em;
  }

  #header {
    position: relative;
  }
</style>
