<section id="header">
  <!-- Top Navbar -->
  <div class="bg-light top-header_height d-flex align-items-center">
    <div class="container d-flex justify-content-end align-items-center gap-3 text-small">
      <div class="divisor">
        <a href="" class="text-secondary d-flex gap-2 align-items-center">
          <i class="fas fa-users"></i>
          <span class="text-primary">Soporte a Clientes</span>
        </a>
      </div>
      <div class="divisor">
        <a href="tel:877-696-7720" class="text-secondary d-flex align-items-center gap-2">
          <i class="fas fa-phone-alt"></i>
          <span class="text-primary">877-696-7720</span>
        </a>
      </div>
      <div>
        <a href="#" class="btn btn-outline-secondary ml-2 text-small">
          <i class="fas fa-laptop text-light-blue"></i>
          NEW ERA ANYWHERE
        </a>
      </div>
    </div>
  </div>
  <!-- Top Navbar -->

  <!-- Main Navbar -->
  <div id="main-navbar" class="header-height main-navbar">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="assets/images/neweratechnology_logo.svg" alt="New Era Technology | México" width="210" />
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Servicios</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item text-primary" href="/cloudblu">CloudBlu</a></li>
                  <li><a class="dropdown-item text-primary" href="#">ManageBlu</a></li>
                  <li><a class="dropdown-item text-primary" href="#">Servicios Profesionales</a></li>
                  <li><a class="dropdown-item text-primary" href="#">Servicios de Cyberseguridad</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Soluciones</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item text-primary" href="#">Colaboración y Comunicación Unificada</a></li>
                  <li><a class="dropdown-item text-primary" href="#">Red de Datos</a></li>
                  <li><a class="dropdown-item text-primary" href="#">Transformación Digital</a></li>
                  <li><a class="dropdown-item text-primary" href="#">Seguridad física y protección de vida</a></li>
                  <li><a class="dropdown-item text-primary" href="#">Inteligencia Artificial</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Industrias</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item text-primary" href="#">Empresa Global</a></li>
                  <li><a class="dropdown-item text-primary" href="#">Banca y Finanzas</a></li>
                  <li><a class="dropdown-item text-primary" href="#">Edificios Inteligentes e IoT</a></li>
                  <li><a class="dropdown-item text-primary" href="#">Médica</a></li>
                  <li><a class="dropdown-item text-primary" href="#">Educación</a></li>
                  <li><a class="dropdown-item text-primary" href="#">Gobierno</a></li>
                  <li><a class="dropdown-item text-primary" href="#">Comercio</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Nuestra Empresa </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item text-primary" href="/aboutus">Sobre nosotros </a></li>
                  <li><a class="dropdown-item text-primary" href="#">Nuestro trabajo </a></li>
                  <li><a class="dropdown-item text-primary" href="#">Carreras</a></li>
                  <li><a class="dropdown-item text-primary" href="#">Eventos</a></li>
                  <li><a class="dropdown-item text-primary" href="#">Socios</a></li>
                  <li><a class="dropdown-item text-primary" href="#">Contratos</a></li>
                  <li><a class="dropdown-item text-primary" href="#">Ubicación</a></li>
                  <li><a class="dropdown-item text-primary" href="#">Atención a Clientes</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Recursos </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item text-primary" href="#">Blog </a></li>
                  <li><a class="dropdown-item text-primary" href="#">Casos de Estudio</a></li>
                  <li><a class="dropdown-item text-primary" href="#">Noticias</a></li>
                  <li><a class="dropdown-item text-primary" href="#">Informes de Soluciones</a></li>
                  <li><a class="dropdown-item text-primary" href="#">Videos</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link text-primary">Contáctanos</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <!-- Main Navbar -->
</section>

<style>
  .divisor {
    border-right: 1px solid #ddd;
    padding-right: 1.5em;
  }
</style>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
