---
import { Icon } from "astro-icon/components";
---

<div class="bg-light top-header_height d-flex align-items-center d-none d-md-flex">
  <div class="container d-flex justify-content-end align-items-center gap-3 text-small">
    <div class="divisor">
      <a href="tel:877-696-7720" class="text-secondary d-flex align-items-center gap-2">
        <Icon name="phone" size={14} />
        <span class="text-primary">877-696-7720</span>
      </a>
    </div>
  </div>
</div>
