<section id="cloud-services" class="py-5">
  <div class="container py-3">
    <div class="row">
      <div class="col-md-6 px-md-5">
        <div class="px-5">
          <img src="assets/images/Cloud_Computing.png" alt="Servicios en la nube" class="img-fluid" />
        </div>
      </div>
      <div class="col-md-6 px-md-5 px-3 pt-5 pt-md-0 text-center text-md-start d-flex align-items-center">
        <div>
          <p>
            Las necesidades emergentes de las empresas requieren una plataforma segura y confiable, algo que los modelos de almacenamiento heredados en las
            instalaciones no pueden satisfacer eficientemente. Para mantenerse a la vanguardia en la carrera competitiva, un cambio a la Nube es más una
            necesidad esencial que una simple opción. El enfoque está en la fácil accesibilidad, la escalabilidad, la seguridad de vanguardia y el ahorro en
            costos y recursos de almacenamiento.
          </p>
          <p>
            En New Era, tenemos experiencia combinando datos, tecnología y experiencia en la nube para ayudarte a reimaginar tus aplicaciones e infraestructura
            digital. Adaptamos tu migración a la nube, el desarrollo de aplicaciones y la optimización de procesos a las necesidades únicas de tu negocio.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
