---
import BoxWithBackground from "@components/global/Box-with-background.astro";
const base = import.meta.env.BASE_URL;
---

<BoxWithBackground
  background=`linear-gradient(90deg, #0d2d6a 60%, rgba(41, 196, 169, 0) 80%), url('${base}assets/images/cloud_computing_key-1-scaled.jpeg') !important`
>
  <h2 class="text-secondary mb-3">Asociaciones clave en computación en la nube</h2>
  <p class="text-white">
    Asociaciones clave en computación en la nube New Era Technology tiene asociaciones duraderas con los principales proveedores de la nube para brindarle una
    ventaja basada en costos y valor. Nuestro objetivo es brindarle soluciones tangibles que se alineen con sus necesidades comerciales actuales y futuras.
    Nuestras soluciones han brindado a nuestros clientes un retorno de la inversión más rápido y eficiente. operaciones, con mayor eficiencia y productividad.
    Contáctenos si está buscando soluciones de computación en la nube en Medio Oriente, que abarcan los Emiratos Árabes Unidos, Qatar, Omán, Bahréin, Arabia
    Saudita y Kuwait. Nuestros expertos en computación en la nube estarán encantados de ayudarle.
  </p>
</BoxWithBackground>
