---
import Layout from "../layouts/Layout.astro";
import Title from "../components/power-automate/title.astro";
import Description from "@components/power-automate/description.astro";
import Solutions from "@components/power-automate/solutions.astro";
import Benefits from "@components//power-automate/benefits.astro";
import SubmitForm from "@components/shared/submit-form.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main>
    <Title />
    <Description />
    <Solutions/>
    <Benefits/>
    <SubmitForm title = "Si está buscando Power Automate en México, póngase en contacto con nosotros y nuestros expertos estarán encantados de ayudarle."/>
  </main>
</Layout>
