---
import Layout from "../layouts/Layout.astro";
import Title from "../components/sharepoint/title.astro";
import Description from "@components/sharepoint/description.astro";
import Services from "@components/sharepoint/services.astro";
import Benefits from "@components/sharepoint/benefits.astro";
import SubmitForm from "@components/shared/submit-form.astro";
import Working from "@components/sharepoint/working.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main>
    <Title />
    <Description />
    <Services/>
    <Working/>
    <Benefits/>
    <SubmitForm title = "Si está buscando SharePoint en México, póngase en contacto con nosotros y nuestros expertos estarán encantados de ayudarle."/>
  </main>
</Layout>
