---
import Cover from "@components/location/Cover.astro";
import Location from "@components/location/Location.astro";
import Stats from "@components/location/Stats.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Ubicación | New Era Technology México">
  <section id="ubicacion">
    <Cover />
    <Stats />
    <Location />
  </section>
</Layout>
