---
import Button from "../global/button.astro";
import BarButton from "../global/bar-button.astro";
---

<section id="industries" class="py-5 bg-light-blue">
  <div class="container py-3">
    <div class="row">
      <div class="col-md-6 pb-3 d-flex align-items-center">
        <div class="px-5">
          <h2 class="text-secondary">Industrias</h2>
          <p class="title text-primary">Productos que ofrecen resultados reales para las necesidades reales del mercado</p>
          <p class="text-lead">
            Aprovecha nuestro amplio conocimiento de trabajar con clientes en un conjunto diverso de mercados, desarrollamos soluciones
            creativas y personalizadas diseñadas para su industria específica.
          </p>
          <div class="mt-3 mt-md-5">
            <Button title="Explora más" link="#" />
          </div>
        </div>
      </div>
      <div class="col-md-6 pb-3 pt-4 pt-md-0">
        <div class="my-2"><BarButton link="#" icon="CPG-Manufacturing.svg" title="Fabricación de CPG" /></div>
        <div class="my-2"><BarButton link="#" icon="Wholesale-and-Retail.svg" title="Al por mayor y al por mayor" /></div>
        <div class="my-2">
          <BarButton link="#" icon="Healthcare-and-Pharmaceuticals.svg" title="Atención médica y productos farmacéuticos" />
        </div>
        <div class="my-2"><BarButton link="#" icon="automotive.svg" title="Automotriz y de alta tecnología" /></div>
        <div class="my-2"><BarButton link="#" icon="banking.svg" title="Banca, servicios financieros y seguros" /></div>
      </div>
    </div>
  </div>
</section>
