---
import BarButton from "../global/bar-button.astro";
---

<section id="industries" class="py-5 bg-light-blue">
  <div class="container py-3">
    <div class="row">
      <div class="col-6 pb-3 d-flex align-items-center">
        <div class="px-5">
          <h2 class="text-secondary">Industrias</h2>
          <p class="title text-primary">Productos que ofrecen resultados reales para las necesidades reales del mercado</p>
          <p class="text-lead">
            Aprovechando nuestro amplio conocimiento de trabajar con clientes en un conjunto diverso de mercados, desarrollamos soluciones creativas y personalizadas diseñadas para su industria específica.
          </p>
        </div>
      </div>
      <div class="col-6 pb-3">
        <div class="my-2"><BarButton link="#" icon="global-enterprise.svg" title="Empresa Global" /></div>
        <div class="my-2"><BarButton link="#" icon="finance-icon.svg" title="Bancos y Finanzas" /></div>
        <div class="my-2"><BarButton link="#" icon="building-icon.svg" title="Edificios Inteligentes y IOT" /></div>
        <div class="my-2"><BarButton link="#" icon="heart.svg" title="Salud" /></div>
        <div class="my-2"><BarButton link="#" icon="education.svg" title="Educación" /></div>
        <div class="my-2"><BarButton link="#" icon="government.svg" title="Gobierno" /></div>
        <div class="my-2"><BarButton link="#" icon="retail-icon.svg" title="Comercios" /></div>
      </div>
    </div>
  </div>
</section>
