---
import Slider from "@components/global/slider.astro";

const sliderConfig = {
  background: "bg-white",
  slidesPerView: 4,
  width: "70%",
  height: 300,
  items: [
    { image: "cisco_partner_logo.png", overlayBackground: "#fff" },
    { image: "poly_logo.png", overlayBackground: "#fff" },
    { image: "Extreme.svg", overlayBackground: "#fff" },
    { image: "samsung_logo.png", overlayBackground: "#fff" },
    { image: "Aruba_Networks_logo.png", overlayBackground: "#fff" },
    { image: "axis-communications-19391a.svg", overlayBackground: "#fff" },
    { image: "christie-a.svg", overlayBackground: "#fff" },
    { image: "Fortinet.jpg", overlayBackground: "#fff" },
    { image: "genetec-seeklogo.svg", overlayBackground: "#fff" },
    { image: "crestron-logo.svg", overlayBackground: "#fff" },
    { image: "zoom.png", overlayBackground: "#fff" },
    { image: "avigilon-logo.svg", overlayBackground: "#fff" },
    { image: "Partners-Logos_Avaya-Diamond.png", overlayBackground: "#fff" },
    { image: "harman.png", overlayBackground: "#fff" },
    { image: "Microsoft_Solutions_Partner_Logo1-300x111.png", overlayBackground: "#fff" },
    { image: "milestone-logo.png", overlayBackground: "#fff" },
    { image: "Logo_Legrand_SA.svg", overlayBackground: "#fff" },
    { image: "LenelS2-logo.png", overlayBackground: "#fff" },
    { image: "Logitech_logo.svg", overlayBackground: "#fff" },
    { image: "palo-alto-networks-partner-logo.png", overlayBackground: "#fff" },
    { image: "Shure_Logo.png", overlayBackground: "#fff" },
  ],
};
---

<section id="our-partners" class="py-5">
  <div class="container text-center">
    <h2 class="text-secondary title-3 text-extra-large pb-2">Nuestros Socios</h2>
    <div class="my-4 d-flex justify-content-center">
      <Slider config={sliderConfig} />
    </div>
  </div>
</section>
