<div id="services" class="bg-light py-5">
  <div class="container text-center py-3">
    <span class="text-secondary text-large title text-bold">Tu proveedor de soluciones tecnológicas</span>
    <h2 class="text-primary text-extra-large title py-3">Servicios</h2>

    <div class="row py-3">
      <div class="col-6 mb-3">
        <div class="card">
          <div class="card-body p-5">
            <img src="/assets/images/cloud-solutions-homepage-icon.svg" alt="CloudBlu" width="90" />

            <p class="text-primary title text-large pt-4">CloudBlu</p>
            <p class="text-lead py-3">
              Reduzca los costos y aumente la flexibilidad con los modelos de implementación en la nube que incluyen servicios privados en la nube, servicios públicos en la nube y soluciones híbridas.
            </p>
            <button class="btn btn-primary btn-lg text-uppercase text-small text-lead">Learn More</button>
          </div>
        </div>
      </div>
      <div class="col-6 mb-3">
        <div class="card">
          <div class="card-body p-5">
            <img src="/assets/images/services-homepage-icon.svg" alt="CloudBlu" width="90" />

            <p class="text-primary title text-large pt-4">Servicios Profesionales</p>
            <p class="text-lead py-3">
              Obtenga un equipo de consultores e integradores dedicados para ayudar a implementar nuevas tecnologías, aplicaciones comerciales y políticas. Maximice sus activos existentes y las brechas comerciales de
              puente.
            </p>
            <button class="btn btn-primary btn-lg text-uppercase text-small text-lead">Learn More</button>
          </div>
        </div>
      </div>
      <div class="col-6 mb-3">
        <div class="card">
          <div class="card-body p-5">
            <img src="/assets/images/managed-services-homepage-icon.svg" alt="CloudBlu" width="90" />

            <p class="text-primary title text-large pt-4">Servicios Administrados</p>
            <p class="text-lead py-3">
              Alace las operaciones y ahorre el presupuesto de TI con servicios administrados de TI y AV con soluciones, incluido el personal, que se pueden personalizar para satisfacer las necesidades de su
              organización.
            </p>
            <button class="btn btn-primary btn-lg text-uppercase text-small text-lead">Learn More</button>
          </div>
        </div>
      </div>
      <div class="col-6 mb-3">
        <div class="card">
          <div class="card-body p-5">
            <img src="/assets/images/mdr-1.svg" alt="CloudBlu" width="90" />

            <p class="text-primary title text-large pt-4">SecureBlu</p>
            <p class="text-lead py-3">
              Mejore su postura de seguridad y minimice el riesgo con una gama completa de servicios de seguridad de asesoramiento y administración. Aproveche una plataforma XDR de vanguardia para capacidades avanzadas
              de detección y respuesta.
            </p>
            <button class="btn btn-primary btn-lg text-uppercase text-small text-lead">Learn More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
