---
import Title from "@components/global/title.astro";
import Card from "../global/card.astro";

const CardConfig = [
  {
    icon: "managed-services-homepage-icon.svg",
    title: "Servicios administrados",
    body: "La gestión de su infraestructura técnica puede ser un desafío, especialmente con un modelo de personal delgado de TI. La falta de gestión de infraestructura eficiente y ágil puede alterar las operaciones comerciales, la productividad y el valor de la marca.",
    color: "bg-light",
    button: {
      text: "Saber más",
      link: "/servicios/servicios-administrados",
    },
  },
  {
    icon: "09_mergers-acquisitions.png",
    title: "Seguro de calidad",
    body: "Nuestros servicios integrales de garantía de calidad aseguran que obtenga el valor óptimo de su inversión tecnológica, con un paradigma de prueba que proporciona una solución sin defectos, segura, robusta y confiable.",
    color: "bg-light",
    button: {
      text: "Saber más",
      link: "/servicios/aseguramiento-de-la-calidad",
    },
  },
];
---

<div id="services" class="py-5">
  <div class="container text-center">
    <Title title="Explora" subtitle="NuestrosServicios" />
    <div class="row py-md-3 mt-4 mt-md-3">
      {
        CardConfig.map((config) => (
          <div class="col-md-6 mb-md-3 px-4 px-md-3 card-group">
            <Card config={config} />
          </div>
        ))
      }
    </div>
  </div>
</div>
