---
import Card from "../global/card.astro";
import Title from "../global/title.astro";

const base = import.meta.env.BASE_URL;

const CardConfig = [
  {
    icon: "microsoft.png",
    title: "Microsoft",
    body: " Somos un socio de soluciones con certificación de Microsoft con una amplia experiencia en el panorama de Microsoft Technology. Desde análisis o automatización o nube hasta servicios administrados, nuestra experiencia le permite mantenerse a la vanguardia con un camino acelerado hacia la transformación digital.",
    color: "",
    button: {
      text: "Saber más",
      link: `${base}soluciones/microsoft`,
    },
  },
  {
    icon: "cloud-finops-cost-optimization.png",
    title: "Cloud",
    body: " El negocio emergente necesita una plataforma segura y confiable, que los modelos de almacenamiento heredado de leve local no pueden cumplir de manera eficiente. Para mantenerse a la vanguardia en la carrera competitiva, un cambio a la nube es más esencialidad que una elección.",
    color: "",
    button: {
      text: "Saber más",
      link: `${base}soluciones/cloud`,
    },
  },
];
---

<section id="solutions" class="py-5 bg-light">
  <div class="container text-center">
    <Title title="Explora" subtitle="Soluciones" />
    <div class="row mt-4 mt-md-0">
      {
        CardConfig.map((config) => (
          <div class="col-md-6 card-group p-md-5">
            <Card config={config} />
          </div>
        ))
      }
    </div>
  </div>
</section>
