<section id="solutions" class="py-5">
  <div class="container text-center py-3">
    <h3 class="text-secondary text-large title text-bold">Explora</h3>
    <h2 class="text-primary text-extra-large title py-2">Soluciones</h2>

    <div class="row py-3">
      <div class="col-6 mb-3">
        <div class="card bg-light">
          <div class="card-body p-5">
            <img src="/assets/images/collaboration-communications-solutions-homepage-icon.svg" alt="Colaboración y UC" width="90" />

            <p class="text-primary title text-large pt-4">Colaboración y UC</p>
            <p class="text-lead py-3">
              Funcione mejor en persona y en distancias con la mejor colaboración en su clase y soluciones de comunicaciones unificadas. Inspire a los visitantes con soluciones AV que crean experiencias completamente
              inmersivas.
            </p>
            <button class="btn btn-primary btn-lg text-uppercase text-small text-lead">Learn More</button>
          </div>
        </div>
      </div>
      <div class="col-6 mb-3">
        <div class="card bg-light">
          <div class="card-body p-5">
            <img src="/assets/images/data-networking-homepage-icon.svg" alt="Redes de datos" width="90" />

            <p class="text-primary title text-large pt-4">Redes de datos</p>
            <p class="text-lead py-3">Conecte a las personas, la información y las ubicaciones con una infraestructura de red confiable que satisfaga sus necesidades comerciales y aplique sus políticas comerciales.</p>
            <button class="btn btn-primary btn-lg text-uppercase text-small text-lead">Learn More</button>
          </div>
        </div>
      </div>
      <div class="col-6 mb-3">
        <div class="card bg-light">
          <div class="card-body p-5">
            <img src="/assets/images/security-life-safety-homepage-icon.svg" alt="Seguridad y seguridad de la vida" width="90" />

            <p class="text-primary title text-large pt-4">Seguridad y seguridad de la vida</p>
            <p class="text-lead py-3">
              Monitorear y controlar el acceso de los usuarios a su campus y garantizar la seguridad de sus visitantes dentro y fuera de sus instalaciones con estrategias integrales de seguridad y seguridad de la vida.
            </p>
            <button class="btn btn-primary btn-lg text-uppercase text-small text-lead">Learn More</button>
          </div>
        </div>
      </div>
      <div class="col-6 mb-3">
        <div class="card bg-light">
          <div class="card-body p-5">
            <img src="/assets/images/digital-transformation-3@4x.png" alt="Transformación digital" width="90" />

            <p class="text-primary title text-large pt-4">Transformación digital</p>
            <p class="text-lead py-3">
              La transformación digital utiliza la tecnología para reinventar cómo funcionan las empresas, desde la estrategia hasta las operaciones, las conexiones del cliente. New Era ofrece soluciones holísticas de
              transformación digital que posicionan su negocio para lo que viene después.
            </p>
            <button class="btn btn-primary btn-lg text-uppercase text-small text-lead">Learn More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
