<section id="description" class="py-3py-md-5">
  <div class="container py-3">
    <div class="row pt-4">
      <div class="col-md-6 text-center pe-md-5">
        <div class="px-3px-md-5 text-center">
          <img src="/assets/images/Power-Automate.png" alt="SharePoint" class="img-fluid px-5" />
        </div>
      </div>
      <div class="col-md-6 py-5 py-md-0 text-center text-md-start">
        <p>
          La automatización de procesos ha experimentado una mayor adopción en los tiempos actuales, debido a la reciente pandemia y la
          necesidad de que las empresas se mantengan a la vanguardia en la carrera competitiva. Las tareas manuales y repetitivas consumen
          tiempo y recursos, a menudo con altos costos y desafíos de precisión. La automatización lo ayuda a eliminar estos desafíos,
          desviar a su fuerza laboral calificada a tareas más críticas y negar la necesidad de contratar y capacitar a una fuerza laboral
          manual.
        </p>
        <p>
          Power Automate, parte de Microsoft Power Platform, ofrece una solución perfecta para la automatización de procesos. La vasta Las
          capacidades de la suite están impulsadas por la Inteligencia Artificial y el Aprendizaje Automático, lo que hace que la
          automatización sea más simple y inteligente. Power Automate funciona en un modelo de código bajo/sin código para una
          automatización sencilla. Los escenarios de automatización complejos requieren un socio tecnológico confiable, y ahí es donde entra
          en juego New Era Technology.
        </p>
        <p>
          New Era es un socio de soluciones de Microsoft con una vasta experiencia en el suministro de soluciones personalizadas con
          tecnologías de Microsoft en todo el mundo. Varias verticales de la industria para diversos requisitos comerciales. Nuestras
          soluciones Power Automate le permiten aprovechar toda la beneficios de la suite y acelere su ritmo hacia la transformación
          digital. Nuestras soluciones son confiables, seguras y flexibles y son compatibles con cualquier requisito futuro que tenga.
        </p>
      </div>
    </div>
  </div>
</section>
