<section id="description">
  <div class="container">
    <div class="row">
      <div class="col-6 text-center pe-5">
        <div class="et_pb_module et_pb_image et_pb_image_1">
          <img src="/assets/images/video-collaboration.svg" alt="Video Colaboracion" width="400" />
        </div>
      </div>
      <div class="col-6">
        <h2 class="text-primary mt-5 text-thin mb-4">Colaboración y comunicaciones unificadas</h2>
        <p class="text-lead">
          New Era ofrece soluciones de comunicación que optimizan e integran una amplia gama de tecnologías de colaboración y UC, incluidas tecnología audiovisual, telefonía, audioconferencias, conferencias web, videoconferencias, mensajería unificada, mensajería instantánea, señalización digital y más.
        </p>
        <p class="text-lead">
          Ofrecemos un servicio integral de gestión para su entorno de colaboración unificado. Al permitir a las organizaciones dar soporte a sus usuarios desde cualquier ubicación y dispositivo, contribuimos a impulsar la productividad y a lograr mejores resultados empresariales, garantizando a los usuarios la mejor experiencia de colaboración y permitiéndoles operar eficazmente, tanto presencialmente como remotamente.
        </p>
        <p class="text-lead">
          Nuestro enfoque independiente del proveedor nos permite integrar y gestionar múltiples proveedores y tecnologías de colaboración.
        </p>
      </div>
    </div>
  </div>
</section>
