---
import Layout from "@layouts/Layout.astro";
import Title from "@components/power-bi/title.astro";
import Description from "@components/power-bi/description.astro";
import Solutions from "@components/power-bi/solutions.astro";
import Benefits from "@components//power-bi/benefits.astro";
import SubmitForm from "@components/shared/contact-form.astro";
---

<Layout>
  <main>
    <Title />
    <Description />
    <Solutions />
    <Benefits />
    <SubmitForm
      title="Para obtener más información sobre cómo Power BI puede acelerar su proceso de transformación digital, póngase en contacto con nosotros y nuestros expertos en Power BI estarán encantados de ayudarle."
    />
  </main>
</Layout>
