<section id="description" class="section py-5">
  <div class="container py-3">
    <div class="row">
      <div class="col-5 px-5">
        <img src="/assets/images/Sharepoint.png" alt="SharePoint" class="img-fluid" />
      </div>
      <div class="col-6">
          <p>
            El aseguramiento de la calidad en el ciclo de vida del desarrollo de software es crucial, ya que impacta directamente en el funcionamiento, la utilidad y la usabilidad de la nueva solución tecnológica. 
            Es necesario probar la solución con varios tipos de pruebas para garantizar que el software cumpla con los requisitos previstos. 
            Lo que se necesita es un socio tecnológico confiable que pueda elaborar estrategias e implementar las metodologías de prueba precisas, y ahí es donde entra en juego New Era Technology.
          </p>
          <p>
            New Era tiene una vasta experiencia ayudando a las empresas de Fortune 500 a alcanzar sus objetivos de aseguramiento de la calidad, lo que lleva a una adopción sin problemas de la nueva solución tecnológica. 
            Ofrecemos varios modelos de participación para las pruebas de software, ya sea in situ, fuera de las instalaciones, remotas o híbridas. 
            Nuestros procesos integrales de aseguramiento de la calidad incluyen la estrategia y la planificación, la gestión de requisitos, el diseño del proceso de prueba, la ejecución y la gestión de defectos.
          </p>
      </div>
    </div>
  </div>
</section>
