---
import Card from "../global/card.astro";

const servicios = [
  "Functional",
  "Performance",
  "Security",
  "Usability",
  "Data and Backend",
  "Migration",
  "Integration/Sub-System",
  "Interface",
  "System",
  "Regression",
  "User-Acceptance"
];
---
<section class="bg-light py-5">
  <div class="container">
    <div class="row">
        <h2 class="text-center">Los servicios de aseguramiento de la calidad del software de New Era en México incluyen los siguientes tipos de pruebas.</h2>
    </div>
    <div class="row py-4">
        {
          servicios.map((service) => (
            <div class="col-4 mb-4 card-group">
              <ul class="list-with-check check-blue">
                <li><i class="fa fa-check-circle"></i>{service}</li>
              </ul>
            </div>
          ))
        }
    </div>
  </div>
</section>
