---
import Button from "../global/button.astro";
---

<div class="container py-5">
  <div class="row">
    <div class="col-md-6 pe-md-4">
      <iframe
        class="w-100 h-100"
        loading="lazy"
        title="New Era Technology Brand Video | Embrace the Change | Technology Solutions"
        src="https://www.youtube.com/embed/ReVS0EnZGjw?feature=oembed"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen=""
        name="fitvid0"></iframe>
    </div>
    <div class="col-md-6 px-3 pt-5 pt-md-0 text-center text-md-start">
      <h2 class="title text-secondary text-extra-large mb-3">Nuestra compañía</h2>
      <h4 class="text-primary mb-3">
        New Era Technology es una comunidad de personas con ideas y corazones afines que comparten la misma visión y valores: Comunidad, Integridad, Ágil y
        Comprometido.
      </h4>

      <p class="text-primary text-lead">
        Estas visiones y valores se vinculan a nuestro trabajo diario, para servir como un asesor tecnológico de confianza para nuestro clientela. A menudo, un
        solo proyecto conduce a un una asociación duradera en la que tenemos la oportunidad de privilegio de ayudar a nuestros clientes a entregar soluciones
        tecnológicas que mejoran la eficiencia y experiencias a sus empleados y clientes.
      </p>
    </div>
  </div>
</div>
