---
import Button from "@components/global/button.astro";
---

<section id="careers" class="py-5">
  <div class="container py-3">
    <div class="row">
      <div class="col-md-6 pe-md-5">
        <img src="https://cdn.neweratech.com/us/wp-content/uploads/sites/5/2024/07/team-about-us.jpg" alt="Careers" class="img-fluid" />
      </div>
      <div class="col-md-6 pe-md-5 d-flex align-items-center text-center text-md-start pt-4 pt-md-0">
        <div>
          <h2 class="text-secondary mb-3">Carreras en New Era Technology</h2>
          <h4 class="text-primary mb-3">¿Listo para trabajar en un entorno de alta tecnología orientado al crecimiento?</h4>
          <p class="text-lead">Si estás buscando un nuevo reto este año Echa un vistazo a nuestras oportunidades actuales para unirte a un empresa que promueve la vida personal y desarrollo profesional.</p>
          <Button title="Learn More" link="#" />
        </div>
      </div>
    </div>
  </div>
</section>
