---
import Button from "@components/global/button.astro";
const base = import.meta.env.BASE_URL;
---

<section id="locations" class="bg-primary py-3 py-md-5">
  <div class="container py-3">
    <div class="row">
      <div class="col-md-5 text-center text-md-start">
        <h2 class="text-secondary text-extra-large mb-3">Conoce nuestras ubicaciones</h2>
        <h4 class="text-white title mb-3">New Era es un proveedor global de soluciones tecnológicas.</h4>
        <p class="text-white text-lead mb-4">
          Con oficinas en todo el mundo, en América, EMEA y APAC , New Era está listo para ayudar en cualquier momento, en cualquier lugar no el tamaño o la
          escala de sus necesidades tecnológicas.
        </p>
        <div class="mt-4">
          <Button title="Conocer más" class="btn-secondary" link=`${base}ubicacion` />
        </div>
      </div>
      <div class="offset-md-1 col-md-5 pt-3 pt-md-0 text-md-end text-center">
        <img
          src={`
            {base}asset}
            images
            newera-global-map-white-BG.svg`}
          alt="Global Map"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>
