<section id="memberships" class="py-5">
  <div class="container py-3 text-center">
    <h2 class="text-primary mb-3">Memberships & Certifications</h2>
    <p class="text-lead">
      New ERA ha mantenido mucho su compromiso de proporcionar excelencia y experiencia en la industria a nuestros clientes. Tenemos membresías profesionales en muchas organizaciones líderes en la industria, y
      participamos activamente en la educación continua e iniciativas que fortalecen nuestra posición como líderes de opinión en las industrias a las que servimos.
    </p>
  </div>
</section>
