---
import Button from "@components/global/button.astro";
---

<section id="policies" class="bg-light py-5">
  <div class="container py-3 text-center">
    <h2 class="text-primary mb-3">Su socio tecnológico de confianza</h2>
    <p class="text-lead">
      En New Era Technology, estamos comprometidos con mantener los más altos estándares de integridad, transparencia y rendición de cuentas. Nuestras políticas
      corporativas reflejan nuestra dedicación a la ética las prácticas, el cumplimiento y la responsabilidad en todo el mundo. todas las áreas de nuestro
      negocio.
    </p>

    <Button title="Explora nuestras políticas" link="https://www.neweratech.com/us/corporate-policies/" />
  </div>
</section>
