---
const base = import.meta.env.BASE_URL;
---

<section id="description" class="section py-5">
  <div class="container py-3">
    <div class="row">
      <div class="col-md-6 px-5 d-flex align-items-center">
        <div class="px-md-5 px-0">
          <img src={`${base}assets/images/PowerBI.png`} alt="SharePoint" class="img-fluid" />
        </div>
      </div>
      <div class="col-md-6 px-3 pt-5 pt-md-0 text-center text-md-start">
        <p>
          Uno de los factores más importantes para las empresas en el camino hacia la transformación digital es la necesidad de actuar sobre la base de análisis
          detallados de sus datos operativos y utilizarlos para su sustento actual y crecimiento futuro. Las plataformas convencionales de Business Intelligence
          no pueden cumplir plenamente los requisitos para que las empresas busquen nuevas formas de optimizar sus procesos, profundizar en Big Data y refinar
          sus modelos operativos en función de las tendencias y patrones de los datos. Lo que se requiere es una suite de inteligencia empresarial moderna y
          unificada que aproveche los últimos avances tecnológicos, como la Inteligencia Artificial (IA), el Aprendizaje Automático (ML), el Procesamiento del
          Lenguaje Natural (NLP) y el Análisis Predictivo, entre otros.
        </p>
        <p>
          La suite Power BI de Microsoft, que forma parte de Power Platform, aborda de manera efectiva los desafíos que se observan en las plataformas de
          análisis dispares y heredadas. La suite es una de las herramientas de BI más destacadas y utilizadas en la actualidad. Permite a las empresas
          profundizar en los datos estructurados y no estructurados y descubrir información oculta crucial para las operaciones empresariales. Si bien el
          análisis de datos simple con Power BI no requiere conocimientos técnicos, los requisitos complejos necesitan un socio tecnológico confiable, y ahí es
          donde entra en juego New Era Technology.
        </p>
        <p>
          New Era, un socio de soluciones de Microsoft, ofrece soluciones integrales de Power BI para ayudar a las empresas con información inteligente e
          intuitiva de varias fuentes de datos y aplicaciones. Nuestras soluciones le brindan el impulso adecuado para optimizar los procesos operativos,
          expandir sus operaciones y elaborar una estrategia para una hoja de ruta para el futuro.
        </p>
      </div>
    </div>
  </div>
</section>; ---
