<section class="py-3 py-md-5">
  <div class="container py-3">
    <div class="row pt-4">
      <div class="col-md-6 text-center pe-md-5">
        <div class="px-3px-md-5 text-center">
          <img src="assets/images/Azure-DevOps.png" alt="Azure-DevOps" class="img-fluid px-5" />
        </div>
      </div>
      <div class="col-md-6 py-5 py-md-0 text-center text-md-start d-flex align-items-center">
        <div>
          <h2 class="text-primary mb-3">Soluciones de Azure DevOps</h2>
          <p>
            La brecha entre los equipos de desarrollo de software, operaciones de TI, control de calidad y seguridad en una organización a menudo conduce a
            sistemas disfuncionales e interrumpe la continuidad del negocio. Azure DevOps es una metodología probada que crea sinergia de equipo que conduce a
            un rápido desarrollo e implementación de software. Azure DevOps es una combinación de personas, procesos y tecnología para impulsar resultados
            eficientes y basados en el valor.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
