---
import BoxWithBackground from "@components/global/Box-with-background.astro";
const base = import.meta.env.BASE_URL;
---

<BoxWithBackground
  background=`linear-gradient(90deg, #0d2d6a 60%, rgba(41, 196, 169, 0) 80%), url("${base}assets/images/azuredevops-bg.jpg") top center no-repeat !important`
>
  <div>
    <h2 class="text-secondary mb-3">Por qué elegir Azure DevOps</h2>
    <p class="text-white">
      El alcance de Azure DevOps va mucho más allá de la integración de equipos dispares dentro de su empresa. Las implementaciones de Azure DevOps crean
      sinergias en todo su panorama empresarial en un entorno unificado e impulsan la eficiencia y la agilidad en el desarrollo y la implementación de
      soluciones de software.
    </p>
    <p class="text-white">
      En New Era Technology, ofrecemos soluciones Azure DevOps personalizadas que combinan sus diversos equipos y tecnología con estrategias y mejores prácticas
      comprobadas. Nuestra amplia experiencia en tecnologías de Microsoft en varios sectores verticales de la industria nos convierte en el socio tecnológico
      preferido para su negocio.
    </p>
  </div>
</BoxWithBackground>
