<section id="description">
  <div class="container">
    <div class="row">
      <div class="col-6 text-center pe-5">
        <div class="et_pb_module et_pb_image et_pb_image_1">
          <img decoding="async" src="https://www.neweratech.com/wp-content/uploads/sites/5/2019/07/security-life-safety-diagram.svg" alt="security-life-safety-diagram" title="" />
        </div>
      </div>
      <div class="col-6">
        <h2 class="text-primary mt-5 text-thin mb-4">Seguridad física y seguridad de la vida</h2>
        <p class="text-lead">
            Reconocemos la importancia de mantener seguros a su personal, clientes y propiedad. New Era reúne una amplia gama de soluciones de seguridad de última generación para garantizar la seguridad de su entorno. 
            Adoptamos un enfoque holístico al revisar las amenazas potenciales para determinar las mejores soluciones de seguridad humana para su negocio.
        </p>
      </div>
    </div>
  </div>
</section>
