---
import Card from "../global/card.astro";

const cardConfig = [
  {
    icon: "intrusion-detection-icon.svg",
    title: "Detección de intrusiones",
    body: "Añada una capa de seguridad adicional con un sistema de detección de intrusiones que pueda detectar, rastrear y aislar a los intrusos. New Era puede ayudarle a seleccionar la solución ideal para su organización, diseñada para proteger a su personal y sus activos, y que funcione en sintonía con sus políticas de control de acceso y su sistema de vigilancia existente. Podemos definir una solución de seguridad física completa e integrada para minimizar las amenazas a sus instalaciones.",
    classes: "border-0",
  },
  {
    icon: "access-control-icon.svg",
    title: "Control de acceso",
    body: "Proporcione mayor seguridad para su propiedad física e intelectual con la amplia gama de soluciones de control de acceso de New Era, que se integran completamente con sus soluciones de video, acceso, pánico, incendio e intrusión. Nuestros sistemas de control de acceso brindan mayor seguridad para su propiedad física e intelectual y funcionan en conjunto con alarmas de pánico y videovigilancia.",
    classes: "border-0",
  },
  {
    icon: "life-safety-healthcare-icon.svg",
    title: "Seguridad del Paciente",
    body: "Crear un entorno seguro para el paciente puede tener un impacto significativo en la atención médica y en sus resultados. Las organizaciones sanitarias se enfrentan a un reto cada vez mayor para proporcionar un entorno seguro y cómodo para el personal de enfermería y los pacientes. Las soluciones integradas de New Era pueden ayudar a su organización a reducir el riesgo y empoderar a los cuidadores para que se centren en sus pacientes y generen resultados positivos.",
    classes: "border-0",
  },
  {
    icon: "fire-alarm-icon.svg",
    title: "Alarma de incendios",
    body: "Los equipos defectuosos o obsoletos pueden interrumpir las operaciones diarias y poner en riesgo su organización. Tomar medidas preventivas es fundamental para la protección contra incendios y la seguridad de vidas y propiedades. Las soluciones de New Era contribuyen a la prevención mediante pruebas, inspecciones y mantenimiento. Nuestras soluciones integrales, atendidas por nuestros empleados altamente capacitados, pueden ayudar a reducir riesgos y costos a largo plazo mediante el mantenimiento preventivo.",
    classes: "border-0",
  },
  {
    icon: "mass-notification-icon.svg",
    title: "Notificación masiva",
    body: "En caso de emergencia, proteger sus activos y entregar mensajes críticos puede salvar vidas. Las soluciones de New Era adoptan un enfoque holístico. Podemos ayudarle a seleccionar una solución personalizada para sus necesidades. Nuestras soluciones integradas pueden proteger sus instalaciones y ocupantes, a la vez que entregan mensajes en tiempo real durante las emergencias. Las soluciones abarcan desde notificaciones automáticas al 911 hasta señalización digital e integración con los sistemas de control de edificios.",
    classes: "border-0",
  },
  {
    icon: "video-surveillance-icon.svg",
    title: "Videovigilancia",
    body: "New Era ofrece soluciones de videovigilancia que garantizan la seguridad de personas y lugares, además de supervisar remotamente propiedades e instalaciones. A medida que la gestión de seguridad a través de la red IP se expande y las capacidades de inteligencia se trasladan a las cámaras de red, los sistemas pueden escalar con mayor facilidad. Mejore la seguridad y la capacidad de respuesta integrando un VMS que permita que su sistema de vigilancia se comunique con otros sistemas de seguridad críticos, como paneles de alarma, control de acceso, intercomunicadores y sistemas contra incendios.",
    classes: "border-0",
  }
];
---
<section id="solutions" class="bg-light py-5">
  <div class="container text-center py-3">
    <h2 class="text-secondary">Explore las soluciones de seguridad y protección de vida de New Era</h2>
    <h3 class="text-primary">Proteja a su personal, clientes y edificios con soluciones de seguridad física de última generación.</h3>
    <div class="row py-4">
        {
          cardConfig.map((config) => (
            <div class="col-4 mb-4 card-group">
              <Card config={config} />
            </div>
          ))
        }
      </div>
  </div>
</section>
