<section id="mobile-small">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="et_pb_module et_pb_text et_pb_text_1 et_pb_text_align_left et_pb_bg_layout_light">
          <div class="et_pb_text_inner">
            <h1>
              <img
                decoding="async"
                src="/wp-content/uploads/sites/5/2019/07/security-life-safety-solutions-page-icon.svg"
                width="100px"
                height="100px"
                alt="image-managed-services"
                class="wp-image-12786"
                style="float: left; vertical-align: middle;"
              />Physical Security &amp; Life Safety
            </h1>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="et_pb_module et_pb_image et_pb_image_0">
            <img
              fetchpriority="high"
              decoding="async"
              width="981"
              height="822"
              src="https://cdn.neweratech.com/au/wp-content/uploads/sites/6/security-life-safety-banner-image-crop.png"
              alt=""
              title=""
              srcset="https://cdn.neweratech.com/au/wp-content/uploads/sites/6/security-life-safety-banner-image-crop.png 981w, https://cdn.neweratech.com/au/wp-content/uploads/sites/6/security-life-safety-banner-image-crop-480x402.png 480w"
              sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 981px, 100vw"
              class="wp-image-16797"
            />
        </div>
      </div>
    </div>
  </div>
</section>
