---
interface Props {
  icon: string;
  title: string;
  link: string;
}

const base = import.meta.env.BASE_URL;
const { icon, title, link } = Astro.props;
---

<a href={link} class="btn btn-primary w-100 text-start btn-primary-no-hover">
  <img src={`${base}/assets/images/${icon}`} width="30" />
  <span class="text-uppercase text-lead ps-2 text">{title}</span>
</a>

<style>
  a {
    display: flex;
    align-items: center;
    height: 60px;
  }

  @media (max-width: 768px) {
    .text {
      font-size: 11px;
    }
  }
</style>
