---
interface Props {
  title: string;
  link: string;
  class?: string;
}

const { title, link, class: className } = Astro.props;
---

<a href={link} class={`btn ${className ? className : "btn-primary"} btn-lg text-uppercase text-small text-lead`}>{title}</a>
