---
interface Props {
  config: {
    icon?: string;
    image?: string;
    title?: string;
    background: string;
  };
}

const { config } = Astro.props;
const { icon, image, background, title } = config;
---

<section id="cover">
  <article class="cover">
    <div class="container">
      <div class="content d-flex align-items-center px-3" style={background}>
        {icon && <img src={icon} alt="New Era Technology" width="90" class="me-2" />}
        {image && <img src={image} alt="New Era Technology" width="285" />}
        {title && <h1 class="text-white text-super-large">{title}</h1>}
      </div>
    </div>
  </article>
</section>

<style>
  .cover {
    background: radial-gradient(circle at center, #0f364c 20%, #031322 100%) !important;
  }

  .content {
    height: 530px;
    margin-right: 100px;
    width: 100%;
  }
</style>
